// ----Media query mixin-----------//
@mixin min-mq($min-screen-size) {
    @media (min-width: $min-screen-size +"px") {
        @content;
    }
}
@mixin max-mq($max-screen-size) {
    @media (max-width: $max-screen-size +"px") {
        @content;
    }
}
// ----------------------------For Orientation-----------------------//
@mixin landscape-orientation($max-screen-size, $orientation) {
    @media (max-width: $max-screen-size +"px") and (orientation: $orientation) {
        @content;
    }
}
@mixin btw-mq($min-screen-size, $max-screen-size, $pixel-ratio, $orientation) {
    @media only screen and (min-width: $min-screen-size +"px") and (max-width: $max-screen-size +"px") and (-webkit-min-device-pixel-ratio: $pixel-ratio) and (orientation: $orientation) {
        @content;
    }
}
//----------------------------------------------------------------//
.page-heading{
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.02em;
    color: #000000;
    padding-top: 20px;
    margin-bottom: 20px;
}

.cover-images {
    margin: 0px -20px;
    background: #F56400;
    height: 180px;
    display: flex;
    justify-content: flex-end;
    align-items: self-start;
    padding: 20px;
    .transperant-btn {
        font-weight: 400;
        font-size: 16px;
        line-height: normal;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        background: transparent;
        border: 1px solid #fff;
        padding: 10px 30px;
        border-radius: 100px;
    }
}


.main-cards-main-profile {
    display: flex;
    column-gap: 20px;
    .left-col {
        width: 310px;
        background: #fff;
        box-shadow: 0px 0px 6px rgb(0 0 0 / 15%);
        border-radius: 10px;
        padding: 20px;
        margin-top: -110px;
        max-height: 395px;
        .cards{
            .edit-profile {
                text-align: center;
                margin-bottom: 20px;
                position: relative;
                .profile-pic {
                    width: 100px;
                    border-radius: 100px;
                }
                .edit-icon {
                    position: absolute;
                    cursor: pointer;
                    right: 38px;
                    bottom: 3px;
                    img{
                        width: 30px;
                    }
                }
            }
            .profile-owner {
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                column-gap: 10px;
                font-size: 22px;
                margin-bottom: 10px;
            }
            .profile-name {
                font-weight: 400;
                font-size: 16px;
                line-height: normal;
                letter-spacing: inherit;
                color: #777777;
                text-align: center;
                margin-bottom: 25px;
                padding-bottom: 25px;
                border-bottom: 1px solid #bcbcbc;
            }
            .follower-status {
                margin-bottom: 20px;
                .comman-row {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 10px;
                    .status-head {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 22px;
                        letter-spacing: 0.02em;
                        color: #777777;
                    }
                    .number {
                        font-size: 16px;
                        line-height: 24px;
                        text-align: right;
                        letter-spacing: 0.02em;
                        color: #777777;
                        font-weight: 400;
                    }
                }
            }
            .social-grids {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-column-gap: 20px;
                .comman-grid{
                    background: #F6F6F6;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 9px 17px;
                    cursor: pointer;
                }
            }
        }
    }
    .right-col {
        width: calc(100% - 330px);
    }
}


.tabs-area-new{
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #bcbcbc;
        padding-bottom: 5px;
        padding-top: 5px;
        .nav {
            width: 50%;
            border: none;
            flex-wrap: inherit !important;
            @include max-mq(1500){
                width: 50%;
            }
            @include max-mq(1300){
                width: 60%;
            }
            .nav-item {
                display: flex;
                align-items: center;
                justify-content: center;
                background: none !important;
                border: none !important;
                padding: 7px 20px !important;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.02em;
                color: #777777 !important;
                margin-bottom: 0 !important;
                font-family: "Graphik";
                @include max-mq(1500){
                    font-size: 14px;
                }
                @include max-mq(1200){
                    font-size: 14px;
                    padding: 10px 0px !important;
                }
                span.number {
                    background: #777777;
                    border-radius: 3px;
                    margin-left: 10px;
                    width: 22px;
                    height: 22px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 12px;
                    color: #fff;
                }
            }
            .active {
                color: #000 !important;
                position: relative;
                &::before{
                    position: absolute;
                    content: "";
                    background: #F56400;
                    left: 0;
                    right: 0;
                    height: 3px;
                    bottom: -6px;
                }
                span.number{
                    background: #F56400;
                }
            }
        }
        button.filter-btn {
            text-align: center;
            letter-spacing: 0.02em;
            color: #777777;
            border: 1px solid #777777;
            border-radius: 7px;
            background: none;
            padding: 9px 23px;
            display: flex;
            align-items: center;
            column-gap: 11px;
            font-size: 16px;
            font-weight: 500;
            font-family: 'Graphik' !important;
        }
    }
}


.personal-address {
    background: #FFFFFF;
    box-shadow: 0px 0px 6px rgb(0 0 0 / 15%);
    border-radius: 10px;
    padding: 20px;
    .comman-row {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #ccc;
        font-size: 14px;
        line-height: normal;
    }
    button.edit-btn {
        border: 2px solid #F56400;
        box-sizing: border-box;
        border-radius: 100px;
        background: #fff;
        display: flex;
        align-items: center;
        column-gap: 7px;
        color: #f56400;
        font-size: 15px;
        padding: 9px 40px;
        line-height: normal;
    }
}

.shop-form-label {
    background: #FFFFFF;
    box-shadow: 0px 0px 6px rgb(0 0 0 / 15%);
    border-radius: 10px;
    padding: 20px;
    .first-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        margin-bottom: 25px;
        .comman-input{
            position: relative;
            input {
                width: 100%;
                color: #777777;
                font-size: 14px;
                border: 1px solid #777;
                outline: none;
                padding: 10px 20px;
                border-radius: 10px;
            }
            img.passoword-btn {
                position: absolute;
                right: 10px;
                top: 22px;
                bottom: 0;
                margin: auto;
                width: 20px;
                cursor: pointer;
            }
            span.send-otp {
                position: absolute;
                font-size: 12px;
                color: #F56400;
                top: 33px;
                bottom: 0;
                margin: auto;
                right: 10px;
                cursor: pointer;
            }
        }
    }
    .address-group {
        margin-bottom: 25px;
        input {
            width: 100%;
            color: #777777;
            font-size: 14px;
            border: 1px solid #777;
            outline: none;
            padding: 10px 20px;
            border-radius: 10px;
        }
    }
}


.text-form {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    line-height: normal;
}

.update-btn {
    background: #F56400;
    border-radius: 100px;
    color: #fff;
    border: none;
    font-size: 15px;
    line-height: normal;
    padding: 10px 40px;
    font-weight: 400;
}


.verification-row {
    box-shadow: 0px 0px 6px rgb(0 0 0 / 15%);
    border-radius: 10px;
    background: #fff;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left-side {
        display: flex;
        align-items: center;
        column-gap: 15px;
    }
    .verified-btn {
        font-weight: 500;
        font-size: 14px;
        line-height: normal;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        background: #26B834;
        border-radius: 100px;
        border: none;
        padding: 13px 30px;
    }
}