<div class="page-wrapper-main">
    <div class="page-heading">Profile</div>

    <div class="cover-images">
        <button class="transperant-btn">Add Cover Image</button>
    </div>

    <div class="main-cards-main-profile">
        <div class="left-col">
            <div class="cards">
                <div class="edit-profile">
                    <img src="../../../assets/images/profile-pics.png" alt="profile" class="profile-pic">
                    <div class="edit-icon"> <img src="../../../assets/images/edit-icon.svg" class="edit-icon"></div>
                </div>
                <div class="profile-owner">Sky Creation <img src="../../../assets/images/verified-symbol.svg"> </div>
                <div class="profile-name">Hiren Shiyani</div>
                <div class="follower-status">
                    <div class="comman-row">
                        <div class="status-head">FOLLOWERS</div>
                        <div class="number">125</div>
                    </div>
                    <div class="comman-row">
                        <div class="status-head">POSTS</div>
                        <div class="number">1225</div>
                    </div>
                </div>
                <div class="social-grids">
                    <div class="comman-grid">
                        <img src="../../../assets/images/facebook.svg">
                    </div>
                    <div class="comman-grid">
                        <img src="../../../assets/images/instagram.svg">
                    </div>
                    <div class="comman-grid">
                        <img src="../../../assets/images/pintrest.svg">
                    </div>
                </div>
            </div>
        </div>
        <div class="right-col">
            <div class="tabs-area-new">
                <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Shop</a>
                      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Personal</a>
                      <a class="nav-item nav-link active" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Document</a>
                    </div>
                  </nav>
                  <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                    <div class="tab-pane fade" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="personal-address mb-3">
                            <div class="comman-row">Shop Name : Sky Creation</div>
                            <div class="comman-row">Shop Address : 125- I, avadh textile market,  near sardar market.</div>
                            <div class="comman-row">Pincode : 360 001</div>
                            <div class="comman-row">City : Surat</div>
                            <div class="comman-row">State : Gujarat</div>
                            <button class="edit-btn">
                                <img src="../../../assets/images/edit-pencil.svg">
                                Edit
                            </button>
                        </div>

                        <div class="shop-form-label">
                            <div class="first-grid">
                                <div class="comman-input">
                                    <label class="text-form">Shop Name</label>
                                    <input type="text" placeholder="Sky Creation">
                                </div>
                                <div class="comman-input">
                                    <label class="text-form">Pincode</label>
                                    <input type="text" placeholder="000000">
                                </div>
                            </div>
                            <div class="address-group">
                                <label class="text-form">Shop Address</label>
                                <input type="text" placeholder="125- I, avadh textile market,  near sardar market surat-395015">
                            </div>
                            <div class="first-grid">
                                <div class="comman-input">
                                    <label class="text-form">City</label>
                                    <input type="text" placeholder="Surat">
                                </div>
                                <div class="comman-input">
                                    <label class="text-form">State</label>
                                    <input type="text" placeholder="Gujarat">
                                </div>
                            </div>
                            <button class="update-btn" (click)="openDialog()">Update</button>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <div class="personal-address mb-3">
                            <div class="comman-row">Vendor Name : Sky Creation</div>
                            <div class="comman-row">Mobile no : 000 000 0000</div>
                            <div class="comman-row">Email : hirenshiyani107@gmail.com</div>
                            <div class="comman-row">Password : XXXX XXXX</div>
                            <button class="edit-btn">
                                <img src="../../../assets/images/edit-pencil.svg">
                                Edit
                            </button>
                        </div>
                        <div class="shop-form-label">
                            <div class="address-group">
                                <label class="text-form">Vendor Name</label>
                                <input type="text" placeholder="Sky Creation">
                            </div>
                            <div class="first-grid">
                                <div class="comman-input">
                                    <label class="text-form">Mobile No.</label>
                                    <input type="text" placeholder="000 000 0000">
                                    <span class="send-otp">Send OTP</span>
                                </div>
                                <div class="comman-input">
                                    <label class="text-form">OTP</label>
                                    <input type="text" placeholder="0000">
                                </div>
                            </div>
                            <div class="first-grid">
                                <div class="comman-input">
                                    <label class="text-form">Email</label>
                                    <input type="text" placeholder="hirenshiyani107@gmail.com">
                                    <span class="send-otp">Send OTP</span>
                                </div>
                                <div class="comman-input">
                                    <label class="text-form">Email OTP</label>
                                    <input type="text" placeholder="0000">
                                </div>
                            </div>
                            <div class="first-grid">
                                <div class="comman-input">
                                    <label class="text-form">New Password</label>
                                    <input type="password" placeholder="Enter New Password">
                                    <img src="../../../assets/images/password-icon.svg" class="passoword-btn"/>
                                </div>
                                <div class="comman-input">
                                    <label class="text-form">Confirm Password</label>
                                    <input type="password" placeholder="Enter Confirm Password">
                                    <img src="../../../assets/images/password-icon.svg" class="passoword-btn"/>
                                </div>
                            </div>
                            <button class="update-btn">Update</button>
                        </div>
                    </div>
                    <div class="tab-pane fade show active" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <div class="verification-row">
                            <div class="left-side">
                                <img src="../../../assets/images/verified-symbol.svg">
                                <div class="text-information">Aadhar Card Verification</div>
                            </div>
                            <button class="verified-btn">Verified</button>
                        </div>
                        <div class="verification-row">
                            <div class="left-side">
                                <img src="../../../assets/images/verified-symbol.svg">
                                <div class="text-information">Bank Verification</div>
                            </div>
                            <button class="verified-btn">Verified</button>
                        </div>
                        <div class="verification-row">
                            <div class="left-side">
                                <img src="../../../assets/images/verified-symbol.svg">
                                <div class="text-information">Rent Agreement Verification</div>
                            </div>
                            <button class="verified-btn">Verified</button>
                        </div>

                    </div>
                  </div>
        
        
            </div>   

        </div>
    </div>

</div>