.heading-modal-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 16px 20px;
    border-bottom: 1px solid #ccc;
    .page-heading {
        padding-top: 0px;
        margin-bottom: 0px;
        font-size: 20px;
    }
    .close-icon {
        img{
            cursor: pointer;
            width: 25px;
        }
        
    }
}

.box-contents {
    padding: 20px;
    padding-top: 0px;    
}

.btn-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .comman-btn {
        background: #BCBCBC;
        border-radius: 100px;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        border: none;
        padding: 10px 20px;
        width: 30%;
    }
    .yes-btn{
        background: #F56400;
    }
}

.facebook-icon {
    text-align: center;
    margin-bottom: 20px;
    img{
        width: 60px;
        margin-bottom: 12px;
    }
}

.input-filed {
    margin-bottom: 30px;
    input {
        width: 100%;
        color: #777777;
        font-size: 14px;
        border: 1px solid #777;
        outline: none;
        padding: 10px 20px;
        border-radius: 10px;
    }
}