<div class="heading-modal-main">
    <div class="page-heading">Add social link</div>
    <div class="close-icon"><img src="../../../assets/images/error-close-icon.svg" /></div>
</div>

<div class="box-contents">
    <div class="facebook-icon">
        <img src="../../../assets/images/facebook.svg">
        <div class="text">Please add your facebook profile link and link your account.</div>
    </div>
    <div class="input-filed">
        <input type="text" placeholder="Enter Link">
    </div>
    <div class="btn-row">
        <button class="no-btn comman-btn">Cancel</button>
        <button class="yes-btn comman-btn">Save Link</button>
    </div>
</div>