<div class="main-success-dialog-area text-center">
        <div class="close-btn" (click)="onNoClick()"><img src="../../../assets/images/error-1.svg" alt="close" title="close"/></div>
        <div class="text-center mt-4 mb-4 img-big"><img src="../../../assets/images/big-tick-mark.svg" alt="success" title="img"></div>
        <h2 class="heading">Success</h2>
        <div  class="dont-have-account">Your Password is successfully change. <br/>
            Back to <span (click)="login()"  class="color-orange-link">Login</span></div>                     

</div>