// ----Media query mixin-----------//
@mixin min-mq($min-screen-size) {
    @media (min-width: $min-screen-size +"px") {
        @content;
    }
}
@mixin max-mq($max-screen-size) {
    @media (max-width: $max-screen-size +"px") {
        @content;
    }
}
// ----------------------------For Orientation-----------------------//
@mixin landscape-orientation($max-screen-size, $orientation) {
    @media (max-width: $max-screen-size +"px") and (orientation: $orientation) {
        @content;
    }
}
@mixin btw-mq($min-screen-size, $max-screen-size, $pixel-ratio, $orientation) {
    @media only screen and (min-width: $min-screen-size +"px") and (max-width: $max-screen-size +"px") and (-webkit-min-device-pixel-ratio: $pixel-ratio) and (orientation: $orientation) {
        @content;
    }
}
// ------------END of Media Screen Mixing--------------//
.heading {
    text-align: center;
    padding-bottom: 15px;
    position: relative;
    margin-bottom: 20px;
    &::before{
        position: absolute;
        content: "";
        background: #F56400;
        height:3px;
        width:50px;
        bottom: 0px;
        left: 0;
        right: 0;
        margin: auto;
    }
}

.dont-have-account {
    margin-bottom: 10px;
}