<div class="page-wrapper-main">
    <div class="page-heading">Dashboard</div>
    <div class="iconbox-grid">
        <div class="comman-grid">
            <img src="../../../assets/images/dash-1.svg" alt="icon" title="icon">
            <div class="text-area">
                <div class="icon-heading">Next Payment</div>
                <div class="icon-price">$ 1225.00</div>
            </div>
        </div>
        <div class="comman-grid">
            <img src="../../../assets/images/dash-2.svg" alt="icon" title="icon">
            <div class="text-area">
                <div class="icon-heading">Next Payment</div>
                <div class="icon-price">$ 1225.00</div>
            </div>
        </div>
        <div class="comman-grid">
            <img src="../../../assets/images/dash-3.svg" alt="icon" title="icon">
            <div class="text-area">
                <div class="icon-heading">Next Payment</div>
                <div class="icon-price">$ 1225.00</div>
            </div>
        </div>
        <div class="comman-grid">
            <img src="../../../assets/images/dash-4.svg" alt="icon" title="icon">
            <div class="text-area">
                <div class="icon-heading">Next Payment</div>
                <div class="icon-price">$ 1225.00</div>
            </div>
        </div>
    </div>

    <!---------------- order-and-listing-------------- -->
    <div class="order-listing-main">
        <div class="comman-grid">
            <div class="heading-area-comman">
                <div class="inner-page-heading">Order</div>
                <a  title="View-all" class="view-all">View All</a>
            </div>
            <div class="content-box">
                <div class="gray-row">
                    <div class="number-box">15</div>
                    <div class="text-normal">New Order</div>
                    <div class="right-arrow">
                        <img src="../../../assets/images/right-side-arrow.svg" />
                    </div>
                </div>
                <div class="gray-row">
                    <div class="number-box">05</div>
                    <div class="text-normal">Rejected</div>
                    <div class="right-arrow">
                        <img src="../../../assets/images/right-side-arrow.svg" />
                    </div>
                </div>
            </div>
        </div>
        <div class="comman-grid">
            <div class="heading-area-comman">
                <div class="inner-page-heading">Listing</div>
                <a  title="View-all" class="view-all">Active</a>
            </div>
            <div class="content-box">
                <div class="gray-row">
                    <div class="number-box">15</div>
                    <div class="text-normal">Active</div>
                    <div class="right-arrow">
                        <img src="../../../assets/images/right-side-arrow.svg" />
                    </div>
                </div>
                <div class="gray-row">
                    <div class="number-box">05</div>
                    <div class="text-normal">Stock out</div>
                    <div class="right-arrow">
                        <img src="../../../assets/images/right-side-arrow.svg" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- -------------------Recent-notification------------ -->

    <div class="recent-row">
        <div class="inner-page-heading">Recent Notification</div>
        <div class="dropdown custom-dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Filter</button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Order</a></li>
              <li><a class="dropdown-item" href="#">Follow</a></li>
              <li><a class="dropdown-item" href="#">OTM</a></li>
            </ul>
          </div>
    </div>

    <div class="see-all-notification">
        <div class="comman-rows" *ngFor="let item of [1,2,3]">
            <div class="img-box">
                <img src="../../../assets/images/placeorder-img.svg" alt="placeorder" title="img" />
            </div>
            <div class="text-des">
                <div class="bold-font">Jute Shopping Bags Hessian - Fruits & Flower Design Good Size Bag Gift / Lunch</div>
                <div class="text-light">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been...</div>
            </div> 
        </div>

    </div>


</div>
