// ----Media query mixin-----------//
@mixin min-mq($min-screen-size) {
    @media (min-width: $min-screen-size +"px") {
        @content;
    }
}
@mixin max-mq($max-screen-size) {
    @media (max-width: $max-screen-size +"px") {
        @content;
    }
}
// ----------------------------For Orientation-----------------------//
@mixin landscape-orientation($max-screen-size, $orientation) {
    @media (max-width: $max-screen-size +"px") and (orientation: $orientation) {
        @content;
    }
}
@mixin btw-mq($min-screen-size, $max-screen-size, $pixel-ratio, $orientation) {
    @media only screen and (min-width: $min-screen-size +"px") and (max-width: $max-screen-size +"px") and (-webkit-min-device-pixel-ratio: $pixel-ratio) and (orientation: $orientation) {
        @content;
    }
}
// ------------END of Media Screen Mixing--------------//
.iconbox-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    margin-bottom: 40px;
    @include max-mq(1400){
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
    }
    .comman-grid {
        box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);
        border-radius: 7px;
        background: #fff;
        padding: 20px;
        display: flex;
        align-items: center;
        img{
            margin-right: 15px;
        }
        .text-area{
            .icon-heading {
                font-weight: 400;
            }
            .icon-price {
                font-weight: 600;
            }
        }
    }   
}

.order-listing-main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    margin-bottom: 40px;
    .comman-grid {
        background: #FFFFFF;
        box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);
        border-radius: 7px;
        .heading-area-comman {
            padding: 15px 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid rgba(188, 188, 188, 50%);
        }
        .content-box {
            padding: 20px;
            .gray-row {
                margin-bottom: 20px;
                background: #F6F6F6;
                border-radius: 7px;
                display: flex;
                align-items: center;
                padding: 10px;
                cursor: pointer;
                &:last-child{
                    margin-bottom: 0px;
                }
                .number-box {
                    background: #777777;
                    border-radius: 7px;
                    color: #fff;
                    margin-right: 20px;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .text-normal {
                    width: 88%;
                }
            }
        }
    }
}

a.view-all {
    color: #F56400 !important;
    &:hover{
        text-decoration: underline;
    }
}


.recent-row {
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .custom-dropdown{
        .btn{
            background: #F6F6F6;
            border: 1px solid #BCBCBC;
            box-sizing: border-box;
            border-radius: 7px;
            font-weight: 500;
            font-size: 16px;
            line-height: normal;
            letter-spacing: 0.02em;
            color: #777777;
            padding: 13px 20px;
            text-align: left;
            padding-right: 50px;
            position: relative;
            box-shadow: none;
            &::after{
                display: none;
            }
            &::before{
                position: absolute;
                content: '';
                background: url('../../../assets/images/right-side-arrow.svg')no-repeat;
                background-size: 14px 14px;
                width: 14px;
                height: 14px;
                right: 10px;
                top: 0;
                bottom: 0;
                margin: auto;
                transform: rotate(90deg);
            }
        }
        .dropdown-menu {
            background: #FFFFFF;
            box-shadow: 0px 0px 8px rgb(0 0 0 / 20%);
            border-radius: 7px;
            border: none;
            li{
                a{
                    font-size: 16px;
                    line-height: 24px;
                    display: flex;
                    align-items: center;
                    letter-spacing: 0.02em;
                    color: #000000;
                    padding: 11px 20px;
                }
            }
        }
    }
}

.see-all-notification {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);
    border-radius: 7px;
    margin-bottom: 100px;
    .comman-rows {
        padding: 20px 20px;
        border-bottom: 1px solid rgba(188, 188, 188, 0.5);
        display: flex;
        align-items: center;
        .img-box {
            background: #F6F6F6;
            border: 1px solid #CCCCCC;
            box-sizing: border-box;
            border-radius: 7px;
            width: 70px;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
        }
        .text-des {
            width: 90%;
            .bold-font {
                font-weight: 500;
                color: #000;
                margin-bottom: 8px;
            }
            .text-light {
                color: #777777 !important;
                font-weight: 400;
            }
        }
    }
}