// ----Media query mixin-----------//
@mixin min-mq($min-screen-size) {
    @media (min-width: $min-screen-size +"px") {
        @content;
    }
}
@mixin max-mq($max-screen-size) {
    @media (max-width: $max-screen-size +"px") {
        @content;
    }
}
// ----------------------------For Orientation-----------------------//
@mixin landscape-orientation($max-screen-size, $orientation) {
    @media (max-width: $max-screen-size +"px") and (orientation: $orientation) {
        @content;
    }
}
@mixin btw-mq($min-screen-size, $max-screen-size, $pixel-ratio, $orientation) {
    @media only screen and (min-width: $min-screen-size +"px") and (max-width: $max-screen-size +"px") and (-webkit-min-device-pixel-ratio: $pixel-ratio) and (orientation: $orientation) {
        @content;
    }
}
//----------------------------------------------------------------//
.header-area-new{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    position: relative;
    padding-bottom: 32px;
    .left-side{
        display: flex;
        width: 100%;
        align-items: center;
        .page-heading {
            margin: 0;
            padding: 0;
        }
        .input-area {
            margin-left: 30px;
            width: 35%;
            @include max-mq(1300){
                width: 50%;
            }
            input{
                background: #FFFFFF;
                border: 1px solid #BCBCBC;
                box-sizing: border-box;
                border-radius: 50px;
                width: 100%;
                padding: 12px 30px;
                outline: none;
                font-weight: 400;
            }
        }
    }    
}


.tabs-area-new{
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #bcbcbc;
        padding-bottom: 10px;
        .nav {
            width: 60%;
            border: none;
            flex-wrap: inherit !important;
            @include max-mq(1500){
                width: 70%;
            }
            @include max-mq(1300){
                width: 80%;
            }
            .nav-item {
                display: flex;
                align-items: center;
                justify-content: center;
                background: none !important;
                border: none !important;
                padding: 10px 20px !important;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.02em;
                color: #777777 !important;
                margin-bottom: 0 !important;
                font-family: "Graphik";
                @include max-mq(1500){
                    font-size: 14px;
                }
                @include max-mq(1200){
                    font-size: 14px;
                    padding: 10px 0px !important;
                }
                span.number {
                    background: #777777;
                    border-radius: 3px;
                    margin-left: 10px;
                    width: 22px;
                    height: 22px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 12px;
                    color: #fff;
                }
            }
            .active {
                color: #000 !important;
                position: relative;
                &::before{
                    position: absolute;
                    content: "";
                    background: #F56400;
                    left: 0;
                    right: 0;
                    height: 3px;
                    bottom: -12px;
                }
                span.number{
                    background: #F56400;
                }
            }
        }
    }
}



.OTM-line-lites{
    .comman-rows {
        background: #FFFFFF;
        box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);
        border-radius: 7px;
        padding: 20px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .comman-col {
            display: flex;
            align-items: center;
            column-gap: 20px;
        }
        .text-description {
            font-weight: 400;
            font-size: 15px;
            line-height: normal;
            display: flex;
            align-items: center;
            letter-spacing: 0.02em;
            color: #777777;
        }
        .dollar-btn {
            font-weight: 500;
            font-size: 16px;
            line-height: normal;
            display: flex;
            align-items: center;
            text-align: right;
            letter-spacing: 0.02em;
            color: #F56400;
            border: 1px solid #f56400;
            padding: 13px 38px;
            border-radius: 100px;
            cursor: pointer;
        }
        .remove-btn {
            background: #BCBCBC;
            color: #fff !important;
            border: none !important;
        }
    }
}