<div class="page-wrapper-main">
    <div class="header-area-new">
        <div class="left-side">
            <div class="page-heading">Follower Mangement</div>
            <div class="input-area">
                <input type="text" placeholder="Search By reseller" />
            </div>
        </div>      
    </div>

    <!-- -------------------------Listing-tabs----------------- -->
    <div class="tabs-area-new">
        <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
              <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Request <span class="number">5</span> </a>
              <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Followers <span class="number">4</span></a>
            </div>
          </nav>
          <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
            <div class="tab-pane fade" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                 <!-- ---------------OTM-line-lite-------------------- -->
                 <div class="OTM-line-lites">
                    <div class="comman-rows" *ngFor="let item of [1,2,3,4,5,6,7,8]">
                        <div class="comman-col">
                            <img src="../../../assets/images/bag.png" alt="bag">
                            <div class="product-title">Reseller name</div>
                        </div>
                        <div class="text-description">125 Buy (Last month)</div>
                        <div class="dollar-btn">Accept</div>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="OTM-line-lites">
                    <div class="comman-rows" *ngFor="let item of [1,2,3,4,5,6,7,8]">
                        <div class="comman-col">
                            <img src="../../../assets/images/bag.png" alt="bag">
                            <div class="product-title">Reseller name</div>
                        </div>
                        <div class="text-description">125 Buy (Last month)</div>
                        <div class="dollar-btn remove-btn">Remove</div>
                    </div>
                </div>
            </div>
          </div>


    </div>    
</div>
