<div class="main-success-dialog-area text-center">
        <div class="verify-check-img mt-4 mb-4">
            <img src="../../../assets/images/verify-check.svg" alt="verify" title="img">
        </div>
        <div class="text-des text-center">We will inform you soon as possible stay <br> tuned.</div>

</div>