.heading-modal-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    .page-heading {
        padding-top: 0px;
        margin-bottom: 0px;
        font-size: 22px;
    }
    .close-icon {
        cursor: pointer;
        width: 25px;
    }
}


.ready-for-dispatch-order {
    background: #FFFFFF;
    border-radius: 7px;
    margin-top: 10px;
    border: 1px solid #777777;
    margin-bottom: 40px;
    .main-box{
        .check-box-area {
            padding: 20px;
            border-bottom: 1px solid #bcbcbc;
        }
    }
}

.completed-status {
    margin-top: 10px;
    background: rgba(38, 184, 52, 0.1);
    border: 1px solid #26B834;
    border-radius: 5px;
    padding: 8px 20px;
    display: inline-block;
    width: auto;
    span.ordernumber {
        margin-right: 14px;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.02em;
        text-decoration-line: underline;
        color: #26B834;
        cursor: pointer;
    }
    span.date-completed {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #26B834;
    }
}



// [[[[[[[[[[[[[[[[[[[[[[[[[[[]]]]]]]]]]]]]]]]]]]]]]]]]]]]]//

.tabs-div-main-area {
    border-bottom: 1px solid #BCBCBC;
    margin-bottom: 12px;
    padding-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .new-tab-line-main-area {
        display: flex;
        align-items: center;
        .new-order-tab{
            display: flex;
            align-items: center;
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 0.02em;
            color: #777777;
            position: relative;
            cursor: pointer;
            padding: 0px 30px;
            span.number {
                margin-left: 10px;
                background: #777777;
                border-radius: 3px;
                color: #fff;
                width: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 20px;
                font-size: 10px;
                line-height: normal;
            }
        }
        .active{
            color: #000;
            font-weight: 600;
            cursor: pointer;
            &:before {
                position: absolute;
                content: '';
                background: #F56400;
                height: 3px;
                left: 0;
                right: 0;
                bottom: -20px;
            }
            span.number{
                background: #F56400;
            }   
        }
    }
}

button.comman-filter {
    border: 1px solid #777777;
    box-sizing: border-box;
    border-radius: 7px;
    background: #F6F6F6;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.02em;
    color: #777777;
    img{
        margin-right: 7px;
    }
}

.comman-area-for-forms-main {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);
    border-radius: 7px;
    margin-bottom: 20px;
    .header-checkbox {
        background: #777777;
        box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);
        border-radius: 7px 7px 0px 0px;
        padding: 21px 20px;
    }
}

.content-mains-new {
    padding: 20px 20px;
    .content-boxed-main {
        display: flex;
        margin-bottom: 25px;
        .first-col-main {
            margin-right: 20px;
        }
        .second-col-main {
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 0px;
            .first-col-new {
                width: 40%;
            }
            .second-col-new {
                width: 30%;
            }
        }
        .third-col{
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }
}

.bold-heading {
    font-weight: 500;
    font-size: 15px;
    line-height: normal;
    letter-spacing: 0.02em;
    color: #000000;
    margin-bottom: 6px;
}

.value-head {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #777777;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

button.refund-btn {
    border: 2px solid #F56400;
    box-sizing: border-box;
    border-radius: 100px;
    background: none;
    cursor: pointer;
    padding: 10px 20px;
    margin-right: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #F56400;
}

button.share-btn {
    background: #F6F6F6;
    border: 1px solid #BCBCBC;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 8px 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.address-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    .left-col-main{
        display: flex;
        width: 60%;
        img {
            margin-right: 20px;
            border-radius: 5px;
            width: 100px;
        }
        .product-description-main{
            width: 80%;
            .main-above-line {
                font-weight: 500;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: 0.02em;
                color: #000000;
                margin-bottom: 10px;
            }
            .main-price-lines {
                .prices-main {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.02em;
                    color: #F56400;
                    width: 40%;
                }
                .prices-features {
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-row-gap: 10px;
                    grid-column-gap: 10px;
                    .comman-grid {
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 16px;
                        letter-spacing: 0.02em;
                        color: #777777;
                    }
                }
            }
        }
    }
}

.orang-heading {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #F56400;
    margin-bottom: 10px;
}

.address-lines-new {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #777777;
}






.heading-side-bar-main {
    display: flex;
    align-items: center;
    padding: 20px 20px;
    border-bottom: 1px solid #ccc;
    .comman-heading{
        margin-bottom: 0px;
    }
    .close-btn {
        background: none;
        border: none;
        padding: 0 !important;
        display: flex;
        align-items: center;
        margin-right: 28px;
        cursor: pointer;
    }
}

.total-amount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .total-amount {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.02em;
        color: #777777;
    }
    .btns-new {
        font-weight: 500;
        font-size: 14px;
        line-height: normal;
        letter-spacing: 0.02em;
        color: #F56400;
        background: #fff;
        border: 1px solid #f56400;
        display: inline-block;
        padding: 10px 30px;
        border-radius: 100px;
    }
}

