<div class="heading-modal-main">
    <div class="page-heading">All Order Details</div>
    <div class="close-icon"><img src="../../../assets/images/error-close-icon.svg" /></div>
</div>


<div class="ready-for-dispatch-order">
    <div class="main-box">
        <div class="check-box-area">
            <mat-checkbox class="example-margin">2 Ordered:  13 Jun, 2021</mat-checkbox>
        </div>
        <div class="content-mains-new">
            <div class="content-boxed-main">
                <div class="first-col-main"><mat-checkbox class="example-margin"></mat-checkbox></div>
                <div class="second-col-main">
                    <div class="comman-grid first-col-new">
                      <div class="bold-heading">Shawn</div>
                      <div class="value-head">#2083764420 <span>$307.40</span> </div>
                    </div>
                    <div class="comman-grid second-col-new">
                      <div class="bold-heading">Dispatch today</div>
                      <div class="value-head">Ordered 14 Jun, 2021</div>
                    </div>
                    <div class="comman-grid third-col-new">
                      <div class="bold-heading">Standard Delivery ($9.00)</div>
                      <!-- <div class="value-head">Cash on Delivery</div> -->
                    </div>
                </div>
            </div>
            <div class="address-box">
              <div class="left-col-main">
                  <img src="../../../assets/images/bag.png" alt="Product"/>
                  <div class="product-description-main">
                      <div class="main-above-line">2.95 CT Hidden Halo Oval Cut Moissanite Engagement Ring in Solid<br/> Gold, Weddign Anniversary Ring, Bridal Promise Ring Gift.</div>
                      <div class="main-price-lines">
                        <div class="prices-features">
                            <div class="comman-grid">Quantity: 1</div>
                            <div class="comman-grid">Ring size: 5 US</div>
                            <div class="comman-grid">Material: 14k White Gold</div>
                        </div>
                      </div>
                  </div>
              </div>
              <div class="right-col-main">
                  <div class="bold-heading">Deliver to,</div>
                  <div class="orang-heading">Shawn Sommers</div>
                  <div class="address-lines-new">No. 403, subh square,  Laldarwaja Main <br> Rd, Patel Vadi, Patel Nagar.</div>
              </div>

            </div>
          </div>

    </div>
</div>

<div class="total-amount">
    <div class="total-amount">Total Amount : 12250.00</div>
    <button class="btns-new">Print The Bill</button>
</div>