<div class="message-mains">
    <div class="inner-message-main">
        <div class="left-side-column">
            <div class="header-area-message">
                <div class="page-heading">Message</div>
                <div class="input-search">
                    <input type="text" placeholder="Search By reseller">
                </div>
            </div>
            <!-- -------------Chat-pannel----------- -->
            <div class="chating-pannel">
                <div class="inner-chats" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12,13,14]">
                    <div class="img-chat">
                        <img src="../../../assets/images/chat-img.png" alt="chat">
                    </div>
                    <div class="center-col-name-and-last-message">
                        <div class="name-profile">Calvin Flores</div>
                        <div class="text-message">Hi, bro! Come to my house!</div>
                    </div>
                    <div class="last-col-time">
                        <div class="date-time">15:13</div>
                        <div class="message-counter">3</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-side-column">
            <div class="chat-header-main">
                <img src="../../../assets/images/chat-img.png" alt="chat" title="chat">
                <div class="pro-name">Gregory Bell</div>
            </div>
            <div class="chat-container-main">
                <div class="reciver-chat" *ngFor="let recive of [1,2,3,4,5,6,7,8,9,10] ">
                    <img src="../../../assets/images/chat-img.png" class="profile-pic">
                    <div class="wrapper-chat">
                    <div class="chat-message">Lorem Ipsum is dummy text.</div>
                    <div class="time">01:45 PM</div>
                    </div>
                </div>
                <div class="sender-chat" *ngFor="let sneder of [1,2,3,4,5,6,7,8,9,10]">
                    <div class="wrapper-chat">
                    <div class="chat-message">Lorem Ipsum is dummy text.</div>
                    <div class="time">
                        01:45 PM <img src="../../../assets/images/two-tickmark.svg" alt="two-tick" class="two-tick">
                    </div>
                    </div>
                    <img src="../../../assets/images/chat-img.png" class="profile-pic">
                </div>

            </div>
            <div class="typing-messages">
                <div class="input-for-sender-text">
                    <input type="text" placeholder="Typing here...">
                    <div class="mic-pin-buttons">
                        <button class="comman-btns"><img src="../../../assets/images/mics.svg"></button>
                        <button class="comman-btns"><img src="../../../assets/images/pins.svg"></button>
                    </div>
                </div>
                <button class="sender-message">
                    <img src="../../../assets/images/sender-message.svg">
                </button>
            </div>
        </div>
    </div>

</div>