// ----Media query mixin-----------//
@mixin min-mq($min-screen-size) {
    @media (min-width: $min-screen-size +"px") {
        @content;
    }
}
@mixin max-mq($max-screen-size) {
    @media (max-width: $max-screen-size +"px") {
        @content;
    }
}
// ----------------------------For Orientation-----------------------//
@mixin landscape-orientation($max-screen-size, $orientation) {
    @media (max-width: $max-screen-size +"px") and (orientation: $orientation) {
        @content;
    }
}
@mixin btw-mq($min-screen-size, $max-screen-size, $pixel-ratio, $orientation) {
    @media only screen and (min-width: $min-screen-size +"px") and (max-width: $max-screen-size +"px") and (-webkit-min-device-pixel-ratio: $pixel-ratio) and (orientation: $orientation) {
        @content;
    }
}
// ------------END of Media Screen Mixing--------------//
.message-mains {
    margin: 0px -20px;
    height: 100%;
    overflow: hidden;
    .inner-message-main {
        display: flex;
        height: 100%;
        .left-side-column {
            background: #FFFFFF;
            width: 385px;
            height: 100%;
            border-right: 1px solid rgb(188 188 188 / 50%);
            @include max-mq(1300){
                width: 335px;
            }
            .header-area-message {
                padding: 30px 20px;
                cursor: pointer;
                .page-heading {
                    padding: 0;
                    margin-bottom: 20px;
                }
                .input-search{
                    input{
                        padding: 13px 20px;
                        width: 100%;
                        border: 1px solid #BCBCBC;
                        box-sizing: border-box;
                        border-radius: 50px;
                        font-size: 14px;
                        line-height: normal;
                        outline: none !important;
                    }
                }
            }
            .chating-pannel {
                height: calc(100vh - 149px);
                overflow-y: auto;
                overflow-x: hidden;
                .inner-chats {
                    padding: 15px 20px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    column-gap: 20px;
                    border-bottom: 1px solid rgb(188 188 188 / 50%);
                    cursor: pointer;
                    .img-chat {
                        width: 50px;
                        margin-right: 0px;
                        img{
                            width: 100%;
                            border-radius: 100%;
                        }
                    }
                    .center-col-name-and-last-message {
                        width: 80%;
                        .name-profile {
                            font-weight: 500;
                            font-size: 16px;
                            line-height: normal;
                            letter-spacing: 0.02em;
                            color: #000000;
                            margin-bottom: 6px;
                            @include max-mq(1300){
                                font-size: 15px;
                            }
                        }
                        .text-message {
                            font-size: 12px;
                            line-height: 16px;
                            letter-spacing: 0.02em;
                            color: #777777;
                            white-space: nowrap;
                            width: 71%;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            font-weight: 300;
                        }
                    }
                    .last-col-time{
                        text-align: center;
                        .date-time {
                            font-size: 12px;
                            line-height: 16px;
                            text-align: right;
                            letter-spacing: 0.02em;
                            color: #777777;
                            font-weight: 400;
                            margin-bottom: 4px;
                        }
                        .message-counter {
                            font-size: 10px;
                            background: #F56400;
                            display: inline-block;
                            color: #fff;
                            line-height: normal;
                            padding: 5px 9px;
                            border-radius: 30px;
                        }
                    }
                }
            }
        }
        .right-side-column {
            width: calc(100% - 385px);
            overflow: hidden;
            @include max-mq(1300){
                width: calc(100% - 335px);
            }
            .chat-header-main {
                background: #FFFFFF;
                box-shadow: 0px 1px 4px rgb(0 0 0 / 10%);
                padding: 10px 20px;
                display: flex;
                align-items: center;
                column-gap: 20px;
                img {
                    width: 50px;
                    border-radius: 100px;
                }
                .pro-name {
                    font-size: 18px;
                    line-height: normal;
                }
            }
            .chat-container-main {
                height: calc(100vh - 134px);
                overflow-y: auto;
                overflow-x: hidden;
                padding: 20px;
                .reciver-chat {
                    display: flex;
                    align-items: center;
                    column-gap: 13px;
                    margin-bottom: 10px;
                    .profile-pic {
                        width: 30px;
                        height: 30px;
                        border-radius: 100%;
                        cursor: pointer;
                    }
                    .wrapper-chat {
                        background: rgb(188 188 188 / 30%);
                        border-radius: 10px 0px;
                        padding: 10px 13px;
                        position: relative;
                        cursor: pointer;
                        .chat-message {
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 16px;
                            letter-spacing: 0.02em;
                            color: #000000;
                            margin-bottom: 8px;
                        }
                        .time {
                            position: absolute;
                            font-size: 6px;
                            bottom: -3px;
                            right: 8px;
                            letter-spacing: 0.02em;
                            color: #777777;
                            font-weight: 600;
                        }
                    }
                }
                .sender-chat {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    column-gap: 13px;
                    margin-bottom: 10px;
                    .wrapper-chat {
                        background: #F56400;
                        border-radius: 0px 10px;
                        position: relative;
                        padding: 10px 13px;
                        cursor: pointer;
                        .chat-message{
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 16px;
                            letter-spacing: 0.02em;
                            color: #fff;
                            margin-bottom: 8px;
                        }
                        .time {
                            display: flex;
                            align-items: center;
                            position: absolute;
                            font-size: 6px;
                            bottom: -3px;
                            right: 8px;
                            letter-spacing: 0.02em;
                            color: #fff;
                            column-gap: 8px;
                            font-weight: 500;
                        }
                    }
                    .profile-pic {
                        width: 30px;
                        height: 30px;
                        border-radius: 100%;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.typing-messages {
    background: #FFFFFF;
    box-shadow: 0px -1px 4px rgb(0 0 0 / 10%);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    column-gap: 20px;
    .input-for-sender-text {
        width: 90%;
        position: relative;
        input {
            width: 100%;
            outline: none;
            background: #F6F6F6;
            border: 1px solid #BCBCBC;
            box-sizing: border-box;
            border-radius: 5px;
            padding: 11px 20px;
            font-size: 15px;
            line-height: normal;
        }
        .mic-pin-buttons {
            position: absolute;
            right: 15px;
            top: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            margin: auto;
            column-gap: 10px;
            button.comman-btns {
                background: none;
                border: none;
                padding: 0;
                img{
                    width: 17px;
                    height: 17px;
                    object-fit: scale-down;
                }
            }
        }

    }
    .sender-message {
        background: #F56400;
        border-radius: 50px;
        border: none;
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
    }
}