// ----Media query mixin-----------//
@mixin min-mq($min-screen-size) {
    @media (min-width: $min-screen-size +"px") {
        @content;
    }
}
@mixin max-mq($max-screen-size) {
    @media (max-width: $max-screen-size +"px") {
        @content;
    }
}
// ----------------------------For Orientation-----------------------//
@mixin landscape-orientation($max-screen-size, $orientation) {
    @media (max-width: $max-screen-size +"px") and (orientation: $orientation) {
        @content;
    }
}
@mixin btw-mq($min-screen-size, $max-screen-size, $pixel-ratio, $orientation) {
    @media only screen and (min-width: $min-screen-size +"px") and (max-width: $max-screen-size +"px") and (-webkit-min-device-pixel-ratio: $pixel-ratio) and (orientation: $orientation) {
        @content;
    }
}
//----------------------------------------------------------------//
.header-area {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    border-bottom: 1px solid #bcbcbc;
    margin-bottom: 20px;
    .left-img {
        margin-right: 20px;
        cursor: pointer;
        display: flex;
        align-items: center;
        column-gap: 20px;
    }
    .page-heading {
        font-size: 22px;
        padding-top: 25px;
        margin-bottom: 25px;
        @include max-mq(1300){
            font-size: 17px;
        }
    }
    .right-cols {
        display: flex;
        align-items: center;
        column-gap: 20px;
        .invoice-btn {
            border: 1px solid #777777;
            box-sizing: border-box;
            border-radius: 7px;
            background: #fff;
            color: #777;
            font-size: 16px;
            line-height: normal;
            padding: 10px 24px;
            cursor: pointer;
        }
        .inputs-date{
            position: relative;
            &::before{
                position: absolute;
                content: '';
                background: url(../../../assets/images/calender-icon.svg)no-repeat;
                background-size: 20px 20px;
                width: 20px;
                height: 20px;
                right: 10px;
                top: -2px;
                bottom: 0;
                margin: auto;
            }
            input{
                padding: 7px 20px;
                border-radius: 5px;
                border: 1px solid #777777;
                box-shadow: none;
            }
        }
    }
}

.product-name{
    .comman-rows{
        background: #FFFFFF;
        box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);
        border-radius: 7px;
        padding: 20px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .dollar-btn {
            font-weight: 500;
            font-size: 16px;
            line-height: normal;
            display: flex;
            align-items: center;
            text-align: right;
            letter-spacing: 0.02em;
            color: #F56400;
            border: 1px solid #f56400;
            padding: 13px 38px;
            border-radius: 100px;
            cursor: pointer;
        }
        .center-col {
            width: 80%;
            padding-left: 20px;
            .product-title {
                margin-bottom: 10px;
            }
            .quan-grid {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-column-gap: 20px;
                .comman-grids {
                    font-weight: 400;
                    font-size: 15px;
                    line-height: normal;
                    letter-spacing: 0.02em;
                    color: #777777;
                }
            }
        }

    }
}