<div class="page-wrapper-main">
    <div class="header-area">
        <div class="left-img"> 
            <img src="../../../assets/images/left-arrow.svg" alt="left">
            <div class="page-heading">OTM Line</div>
        </div>
        <div class="right-cols">
            <div class="invoice-btn">Invoice</div>
            <div class="inputs-date">
                <input type="text" placeholder="25-09 to 30-09" class="form-control" bsDatepicker>
            </div>
        </div>
    </div>

     <!-- -------Products------------------ -->
     <div class="product-name">
        <div class="comman-rows" *ngFor="let items of [1,2,3]">
            <img src="../../../assets/images/bag.png" alt="bag">
            <div class="center-col">
                <div class="product-title">Product name</div>
                <div class="quan-grid">
                    <div class="comman-grids">Order ID: #1234</div>
                    <div class="comman-grids">Quantity: 3</div>
                    <div class="comman-grids">Reseller name: John doe</div>
                </div>
            </div>    
            <div class="dollar-btn">$1225.00</div>
        </div>
    </div>
</div>