<div class="page-wrapper-main">
    <div class="header-area">
        <div class="left-img"> <img src="../../../assets/images/left-arrow.svg" alt="left"> </div>
        <div class="page-heading">Reseller Name</div>
    </div>

    <div class="tabs-area-new">
        <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">New Orders <span class="number">3</span> </a>
              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Next Day Hold <span class="number">3</span></a>
            </div>
          </nav>
          <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="btns-row-main">
                    <div class="left-btn">
                        <button class="comman-btn">Ready for Dispatch</button>
                    </div>
                    <div class="right-btn">
                        <button class="comman-btn" (click)="openDialog()">Next Day</button>
                        <button class="comman-btn" (click)="openDialogs()">Cancel</button>
                    </div>
                </div>
                <div class="ready-for-dispatch-order">
                    <div class="main-box">
                        <div class="check-box-area">
                            <mat-checkbox class="example-margin">2 Ordered:  13 Jun, 2021</mat-checkbox>
                        </div>
                        <div class="content-mains-new">
                            <div class="address-box">
                              <div class="first-row">
                                    <mat-checkbox class="example-margin"></mat-checkbox>
                              </div>
                              <div class="left-col-main">
                                  <img src="../../../assets/images/bag.png" alt="Product"/>
                                  <div class="product-description-main">
                                      <div class="main-above-line">2.95 CT Hidden Halo Oval Cut Moissanite Engagement Ring in Solid<br/> Gold, Weddign Anniversary Ring, Bridal Promise Ring Gift.</div>
                                      <div class="main-price-lines">
                                        <div class="prices-features">
                                            <div class="comman-grid">SKU: #123456</div>
                                            <div class="comman-grid">Price: $19.00</div>
                                            <div class="comman-grid">Quantity: 2</div>
                                            <div class="comman-grid">Veriation: XL & Red</div>
                                            <div class="comman-grid">Order Id: #012012</div>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="right-col-main">
                                  <div class="d-block">
                                        <button class="next-day">Next Day</button>
                                    </div>
                                    <div class="d-block">
                                        <button class="next-day-cancel">Cancel</button>
                                    </div>
                              </div>
                
                            </div>
                          </div>

                    </div>


                </div>

            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="btns-row-main">
                    <div class="left-btn">
                        <button class="comman-btn">Ready for Dispatch</button>
                    </div>
                    <div class="right-btn">
                        <button class="comman-btn">Cancel</button>
                    </div>
                </div>
                <div class="ready-for-dispatch-order">
                    <div class="main-box">
                        <div class="check-box-area">
                            <mat-checkbox class="example-margin">2 Order on Location: Katargam</mat-checkbox>
                        </div>
                        <div class="content-mains-new">
                            <div class="order-will-toast-message">Order will be automatically cancelled after 24 hour. </div>
                            <div class="address-box">
                              <div class="first-row">
                                    <mat-checkbox class="example-margin"></mat-checkbox>
                              </div>
                              <div class="left-col-main">
                                  <img src="../../../assets/images/bag.png" alt="Product"/>
                                  <div class="product-description-main">
                                      <div class="main-above-line">2.95 CT Hidden Halo Oval Cut Moissanite Engagement Ring in Solid<br/> Gold, Weddign Anniversary Ring, Bridal Promise Ring Gift.</div>
                                      <div class="main-price-lines">
                                        <div class="prices-features">
                                            <div class="comman-grid">SKU: #123456</div>
                                            <div class="comman-grid">Price: $19.00</div>
                                            <div class="comman-grid">Quantity: 2</div>
                                            <div class="comman-grid">Veriation: XL & Red</div>
                                            <div class="comman-grid">Order Id: #012012</div>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="right-col-main">
                                  <div class="d-block">
                                        <button class="next-day">Next Day</button>
                                    </div>
                                    <div class="d-block">
                                        <button class="next-day-cancel">Cancel</button>
                                    </div>
                              </div>
                            </div>
                          </div>

                    </div>


                </div>
            </div>
          </div>


    </div>    

</div>
