<div class="page-wrapper-main">
    <div class="header-area">
        <div class="left-img"> <img src="../../../assets/images/left-arrow.svg" alt="left"> </div>
        <div class="page-heading">Jute Shopping Bags Hessian - Fruits & Flower Design Good Size Bag Gift / Lunch</div>
    </div>
    <!-- -------------first-row-main------------- -->
    <div class="photos-uplod-main">
        <div class="photos-heading">
            <div class="comman-heading">
                <div class="inner-page-heading">Photos</div>
                <img src="../../../assets/images/question-mark.svg" alt="img">
            </div>
            <p>Add as many as you can so buyers can see every detail. </p>
        </div>
        <div class="errow-message">
            <div class="left-side">
                <img src="../../../assets/images/alert-error.svg" alt="alert"/>
                Please make sure both width and height are less than 2000 xp
            </div>
            <div class="close-icon">
                <img src="../../../assets/images/red-cross.svg">
            </div>
        </div>
        <div class="grid-pic-upload-icons" cdkDropList  (cdkDropListDropped)="drop($event)">
            <div [hidden]="data.length == allImagesArray.length" (click)="imageUpload(data.photo)" [ngClass]="{ 'add-photo-icon': data.photo }" class="comman-grid" *ngFor="let data of images; let i=index" [cdkDragDisabled]="data.default" cdkDrag>
                <img  *ngIf="data.default" src="{{data.img}}">
                <div style="border: 0px solid #ccc;" style="position: relative;">
                <img *ngIf="!data.default" height="132px" width="170.87px" src="{{data.img}}">
                <img (click)="array_move(i)" style="  position: absolute;
                right: 10px;
                top: 6px;" *ngIf="!data.default" src="../../../assets/images/delete.svg">
               </div>
                <span class="comman-heading">{{data.name}}</span>
            </div>
            <!-- <div class="comman-grid">
                <img src="../../../assets/images/first-angle.svg">
                <span class="comman-heading">Primary Photo</span>
            </div>
            <div class="comman-grid">
                <img src="../../../assets/images/second-angle.svg">
                <span class="comman-heading">Every angle</span>
            </div>
            <div class="comman-grid">
                <img src="../../../assets/images/third-angle.svg">
                <span class="comman-heading">Every angle</span>
            </div>
            <div class="comman-grid">
                <img src="../../../assets/images/fourth-angle.svg">
                <span class="comman-heading">Every angle</span>
            </div>
            <div class="comman-grid">
                <img src="../../../assets/images/fifth-angle.svg">
                <span class="comman-heading">Details</span>
            </div>
            <div class="comman-grid">
                <img src="../../../assets/images/sixth-angle.svg">
                <span class="comman-heading">In use</span>
            </div>
            <div class="comman-grid">
                <img src="../../../assets/images/seventh-angle.svg">
                <span class="comman-heading">Size & Scale</span>
            </div>
            <div class="comman-grid">
                <img src="../../../assets/images/eight-angle.svg">
                <span class="comman-heading">Styled scene</span>
            </div>
            <div class="comman-grid">
                <img src="../../../assets/images/nineth-angle.svg">
                <span class="comman-heading">Variations</span>
            </div> -->

        </div>

    </div>

    <!-- --------------second-row--------------- -->
    <form [formGroup]="productForm">
    <div class="photos-uplod-main">
        <div class="photos-heading">
            <div class="comman-heading">
                <div class="inner-page-heading">Listing Details</div>
            </div>
            <p>Tell the world all about your item and why they’ll love it.</p>
        </div>
        <div class="input-content-area"> 
            <div class="listing-details-rows">
                <div class="left-col">
                    <div class="form-lable">Title<span class="red">*</span></div>
                    <img src="../../../assets/images/question-mark.svg" alt="img">
                </div>
                <div class="right-col">
                    <input type="text" placeholder="Enter Title" formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }"  maxlength="45">
                </div>
            </div>
            <div class="listing-details-rows align-not-center">
                <div class="left-col">
                    <div class="form-lable">Description<span class="red">*</span></div>
                    <img src="../../../assets/images/question-mark.svg" alt="img">
                </div>
                <div class="right-col">
                    <textarea formControlName="discription" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.discription.errors }" type="text"></textarea>
                </div>
            </div>
            <div class="listing-details-rows">
                <div class="left-col">
                    <div class="form-lable">Category<span class="red">*</span></div>
                    <img src="../../../assets/images/question-mark.svg" alt="img">
                </div>
                <div class="right-col">
                    <input maxlength="45" type="text"  formControlName="category" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.category.errors }" placeholder="Lunch Bags & Boxes">
                </div>
            </div>
            <div class="listing-details-rows">
                <div class="left-col">
                    <div class="form-lable">Price<span class="red">*</span></div>
                    <img src="../../../assets/images/question-mark.svg" alt="img">
                </div>
                <div class="right-col">
                    <input maxlength="45" OnlyNumber type="text" formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.price.errors }" placeholder="125.00">
                </div>
            </div>
            <div class="listing-details-rows">
                <div class="left-col">
                    <div class="form-lable">Quantity<span class="red">*</span></div>
                    <img src="../../../assets/images/question-mark.svg" alt="img">
                </div>
                <div class="right-col">
                    <input maxlength="45" OnlyNumber type="text" formControlName="quantity" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.quantity.errors }" placeholder="5">
                </div>
            </div>
            <div class="listing-details-rows">
                <div class="left-col">
                    <div class="form-lable">SKU</div>
                    <img src="../../../assets/images/question-mark.svg" alt="img">
                </div>
                <div class="right-col">
                    <input formControlName="sku" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.sku.errors }" type="text" placeholder="H125">
                </div>
            </div>
            <div class="listing-details-rows radio-btns mb-5">
                <div class="left-col">
                    <div class="form-lable">Product Privacy</div>
                    <img src="../../../assets/images/question-mark.svg" alt="img">
                </div>
                <div class="right-col">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button (change)="handleChange('Public')" [checked]="true" value="1">Public</mat-radio-button>
                        <mat-radio-button (change)="handleChange('Private')" value="2">Private</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="listing-details-rows radio-btns">
                <div class="left-col">
                    <div class="form-lable">Variations</div>
                    <img src="../../../assets/images/question-mark.svg" alt="img">
                </div>
                <div class="right-col">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button (change)="handleChange('Simple')"  value="1">Simple</mat-radio-button>
                        <mat-radio-button (change)="handleChange('Variation')" [checked]="true" value="2">Variation</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="add-variation-btn">
                <button (click)="openDialog()" class="add-btn">Add Variation</button>
            </div>
            <div *ngIf="variationData && variantData.length>0" class="box-border-list">
                <div class="border-listing">
                    <div class="first-row-list">
                        <div class="check-box"><mat-checkbox class="example-margin">00</mat-checkbox></div>
                    </div>
                    <div class="gray-btn">
                        <button (click)="linkPhotos()" class="gray-btn-inner"><img src="../../../assets/images/link-pic.svg"> Link Photos  </button>
                        <button class="gray-btn-inner"><img src="../../../assets/images/setting-gear.svg"> Edit Variations  </button>
                    </div>
                </div>
                <div class="table-data-main">
                    <table>
                        <tr>
                            <th></th>
                            <th>Link Photo</th>
                            <th>Primary color</th>
                            <th>Size</th>
                            <th>Price</th>
                            <th>Visible</th>
                        </tr>
                        <tr *ngFor="let item of variantData">
                            <td><mat-checkbox class="example-margin"></mat-checkbox></td>
                            <td>
                                <div class="pics-item">
                                    <img src="../../../assets/images/white-icon.svg">
                                </div>
                            </td>
                            <td>
                                <div class="features">{{item.colorName}}</div>
                            </td>
                            <td>
                                <div class="features">{{item.sizeName}}</div>
                            </td>
                            <td>
                                <div class="input-price">
                                    <input type="text" placeholder="$ 25.00">
                                </div>
                            </td>
                            <td>
                                <div class="slide-nav"><mat-slide-toggle></mat-slide-toggle></div>
                            </td>
                        </tr>

                    </table>

                </div>
            </div>  


        </div>


    </div>

    <div class="save-custom-btns">
        <button (click)="cancel()" class="cancel-btn comman-btn">Cancel</button>
        <div class="text">Jute Shopping Bags Hessian - Fruits & Flower Design Good Size Bag Gift / Lunch</div>
        <button class="save-btn comman-btn" (click)="onSubmit()">Save</button>
    </div>
</form>
</div>
