// ----Media query mixin-----------//
@mixin min-mq($min-screen-size) {
    @media (min-width: $min-screen-size +"px") {
        @content;
    }
}
@mixin max-mq($max-screen-size) {
    @media (max-width: $max-screen-size +"px") {
        @content;
    }
}
// ----------------------------For Orientation-----------------------//
@mixin landscape-orientation($max-screen-size, $orientation) {
    @media (max-width: $max-screen-size +"px") and (orientation: $orientation) {
        @content;
    }
}
@mixin btw-mq($min-screen-size, $max-screen-size, $pixel-ratio, $orientation) {
    @media only screen and (min-width: $min-screen-size +"px") and (max-width: $max-screen-size +"px") and (-webkit-min-device-pixel-ratio: $pixel-ratio) and (orientation: $orientation) {
        @content;
    }
}
//----------------------------------------------------------------//
.header-area {
    display: flex;
    align-items: center;
    .left-img {
        margin-right: 20px;
        cursor: pointer;
    }
    .page-heading {
        font-size: 22px;
        padding-top: 25px;
        margin-bottom: 25px;
        @include max-mq(1300){
            font-size: 17px;
        }
    }
}

.photos-uplod-main {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);
    border-radius: 7px;
    margin-bottom: 40px;
    .photos-heading {
        padding: 20px;
        border-bottom: 1px solid #bcbcbc;
        .comman-heading {
            display: flex;
            align-items: center;
            column-gap: 9px;
            margin-bottom: 5px;
            img{
                cursor: pointer;
            }
        }
        p {
            margin-bottom: 0px;
        }
    }
}

.comman-heading {
    display: block;
}

.grid-pic-upload-icons {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    @include max-mq(1500){
        grid-template-columns: repeat(6, 1fr);
    }
    @include max-mq(1300){
        grid-template-columns: repeat(4, 1fr);
    }
    .add-photo-icon {
        background: #BCBCBC;
        border: 1px solid #BCBCBC;
        box-sizing: border-box;
        border-radius: 7px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 36px 8px;
        .comman-heading {
            font-size: 14px;
            margin-top: 9px;
            color: #fff;
        }
    }
    .comman-heading {
        color: #BCBCBC;
        font-weight: 500;
        font-size: 14px;
        margin-top: 9px;
    }
    .comman-grid {
        border: 1px solid #ccc;
        border-radius: 7px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        padding: 20px 10px;
    }
}

.input-content-area {
    padding: 20px;
    .listing-details-rows {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        column-gap: 20px;
        .left-col {
            display: flex;
            width: 15%;
            align-items: center;
            @include max-mq(1300){
                width: 22%;
            }
            img{
                width: 14px;
                margin-left: 8px;
                cursor: pointer;
            }
        }
        .right-col {
            width: 84%;
            input{
                width: 100%;
                border: 1px solid #777777;
                box-sizing: border-box;
                border-radius: 10px;
                padding: 13px 20px;
                font-size: 14px;
                outline: none !important;
            }
            textarea{
                width: 100%;
                height: 210px;
                border-radius: 10px;
                padding: 13px 20px;
                font-size: 14px;
                outline: none;
            }
        }
    }
    .align-not-center {
        align-items: self-start !important;
        position: relative;
        .left-col {
            padding-top: 20px;
        }
    }
}


.form-lable {
    font-size: 15px;
    line-height: normal;
    span.red {
        color: red;
    }
}

.radio-btns{
    .right-col{
        .mat-radio-group {
            display: flex;
            align-items: center;
            column-gap: 30px;
            color: #777777 !important;
        }
    }
}

.save-custom-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    margin-bottom: 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);
    border-radius: 7px;
    .comman-btn {
        line-height: normal;
        padding: 12px 40px;
        border-radius: 100px;
        border: none;
        color: #fff;
        font-size: 13px;
    }
    .cancel-btn {
        background: #BCBCBC;
    }
    .save-btn {
        background: #ef6437;
    }
    .text {
        letter-spacing: 0.02em;
        color: #595959;
        font-size: 14px;
        @include max-mq(1300){
            font-size: 12px;
        }
    }
}

.errow-message {
    margin: 10px 20px;
    background: rgb(233 0 0 / 15%);
    border-radius: 7px;
    padding: 13px 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left-side {
        display: flex;
        align-items: center;
        column-gap: 12px;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #E90000;
    }
    .close-icon{
        cursor: pointer;
    }
}

.add-variation-btn{
    text-align: right;
    margin-top: -50px;
    margin-bottom: 10px;
    .add-btn{
        line-height: normal;
        padding: 12px 40px;
        border-radius: 100px;
        border: none;
        color: #fff;
        font-size: 13px;   
        background: #ef6437;
    }
        
}

.box-border-list {
    border: 1px solid #BCBCBC;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 15px;
    .border-listing {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        .first-row-list {
            border: 1px solid #bcbc;
            padding: 4px 10px;
            border-radius: 5px;
        }
        .gray-btn {
            display: flex;
            align-items: center;
            column-gap: 10px;
            .gray-btn-inner {
                display: flex;
                align-items: center;
                background: #F6F6F6;
                border: 1px solid #BCBCBC;
                box-sizing: border-box;
                border-radius: 7px;
                letter-spacing: 0.02em;
                color: #777777;
                font-size: 15px;
                padding: 5px 20px;
                column-gap: 10px;
            }
        }
    }
}

.table-data-main{
    table{
        width: 100%;
        margin-top: 20px !important;
        tr{
            th{
                background: #777777;
                border-radius: 0;
                padding: 12px 10px;
                color: #FFFFFF;
                font-weight: 400;
                font-size: 16px;
                &:first-child{
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                }
                &:last-child{
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                }
            }
        }
        tr{
            td {
                padding: 20px 10px;
                border-bottom: 1px solid #ccc;
                .pics-item {
                    background: #BCBCBC;
                    border-radius: 7px;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .features {
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.02em;
                    color: #000000;
                    font-weight: 400;
                }
                .input-price {
                    width: 60%;
                    input{
                        width: 100%;
                        border: 1px solid #ADAEAA;
                        border-radius: 7px;
                        font-size: 14px;
                        padding: 7px 15px;
                        outline: none;
                    }
                }
            }
        }
    }
}
