.header-variations {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    .left-col{
        .popup-heading {
            font-weight: 600;
            font-size: 18px;
            line-height: normal;
            letter-spacing: 0.02em;
            color: #000000;
            margin-bottom: 12px;
        }
        .text{
            font-size: 14px;
            letter-spacing: 0.02em;
            color: #000000;
            font-weight: 400;
            line-height: 20px;
        }
    }
    .right-col{
        cursor: pointer;
        img{
            width: 22px;
        }
    }
}

.comman-heading{
    font-weight: 500;
    font-size: 16px;
    line-height: normal;
    letter-spacing: 0.02em;
    color: #000000;
    margin-bottom: 15px;
}

.content-box {
    padding: 20px 20px;
    padding-top: 0px;
}


.save-custom-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .comman-btn {
        line-height: normal;
        padding: 12px 40px;
        border-radius: 100px;
        border: none;
        color: #fff;
        font-size: 13px;
    }
    .cancel-btn {
        background: #BCBCBC;
    }
    .save-btn {
        background: #ef6437;
    }    
}

.comman-grids-main{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    .img-grid{
        img{
            width: 100%;
        }
    }
}