<div class="header-variations">
    <div class="left-col">
        <div class="popup-heading">Link Photos</div>
        <div class="text">Link photos to your different item variations. so shoppers can make a more confident decision about buying your item.</div>
    </div>
    <div class="right-col">
        <img src="../../../assets/images/error-close-icon.svg">
    </div>
</div>
<div class="content-box">
    <div class="comman-heading">Variation type</div>
    <div class="accordian-custom">
        <mat-accordion>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div class="text-plus-img"> <img src="../../../assets/images/black-icons.svg"> Blue Strawberry </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="comman-grids-main">
                    <div class="img-grid">
                        <img src="../../../assets/images/bag-pic.png">
                    </div>
                    <div class="img-grid">
                        <img src="../../../assets/images/bag-pic.png">
                    </div>
                    <div class="img-grid">
                        <img src="../../../assets/images/bag-pic.png">
                    </div>
                    <div class="img-grid">
                        <img src="../../../assets/images/bag-pic.png">
                    </div>
                    <div class="img-grid">
                        <img src="../../../assets/images/bag-pic.png">
                    </div>
                    <div class="img-grid">
                        <img src="../../../assets/images/bag-pic.png">
                    </div>
                    <div class="img-grid">
                        <img src="../../../assets/images/bag-pic.png">
                    </div>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div class="text-plus-img"> <img src="../../../assets/images/black-icons.svg"> Blue Strawberry </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="comman-grids-main">
                    <div class="img-grid">
                        <img src="../../../assets/images/bag-pic.png">
                    </div>
                    <div class="img-grid">
                        <img src="../../../assets/images/bag-pic.png">
                    </div>
                    <div class="img-grid">
                        <img src="../../../assets/images/bag-pic.png">
                    </div>
                    <div class="img-grid">
                        <img src="../../../assets/images/bag-pic.png">
                    </div>
                    <div class="img-grid">
                        <img src="../../../assets/images/bag-pic.png">
                    </div>
                    <div class="img-grid">
                        <img src="../../../assets/images/bag-pic.png">
                    </div>
                    <div class="img-grid">
                        <img src="../../../assets/images/bag-pic.png">
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <div class="save-custom-btns">
        <button class="cancel-btn comman-btn">Cancel</button>
        <button class="save-btn comman-btn">Save</button>
    </div>
</div>