<div id="wrapper" [ngClass]="{'toggled': show==true}">
    <div id="sidebar-wrapper">
<div class="sidebar-main">
    <div class="logo-area-main">
        <img src="../../../assets/images/logo.svg" alt="logo" title="logo" />
        <span>Vendor Manager</span>
    </div>
    <div class="listing-menu-sidebar">
        <ul class="sub-menu-list sidebar-nav">
            <li routerLink="/dashboard" routerLinkActive="active" class="active"
            [routerLinkActiveOptions]="{exact:
               true}" class="nav-list-parents">
                <svg width="24" height="21" viewBox="0 0 24 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 3.32294L18 8.88176V18.5294H15.6V11.1176H8.4V18.5294H6V8.88176L12 3.32294ZM12 0L0 11.1176H3.6V21H10.8V13.5882H13.2V21H20.4V11.1176H24L12 0Z" fill="black"/>
                </svg>
                <span  class="menu-item">Dashboard</span>    
            </li>
            <li routerLink="/listing" routerLinkActive="active" 
            [routerLinkActiveOptions]="{exact:
               true}" class="nav-list-parents">
               
                <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.157 4.33333C15.8002 4.3314 16.4295 4.52037 16.9653 4.8763C17.501 5.23224 17.9191 5.73915 18.1666 6.33284C18.414 6.92652 18.4798 7.58029 18.3555 8.21137C18.2312 8.84245 17.9224 9.42246 17.4683 9.87795C17.0142 10.3335 16.4351 10.644 15.8044 10.7701C15.1737 10.8963 14.5197 10.8326 13.9253 10.5869C13.3309 10.3412 12.8227 9.92461 12.4652 9.38994C12.1076 8.85527 11.9168 8.22653 11.9168 7.58333C11.9168 6.72325 12.2577 5.89823 12.8648 5.28905C13.472 4.67987 14.2959 4.33619 15.1559 4.33333H15.157ZM15.1559 2.16666C14.0846 2.16666 13.0374 2.48434 12.1466 3.07953C11.2558 3.67472 10.5616 4.52069 10.1516 5.51046C9.7416 6.50023 9.63434 7.58934 9.84334 8.64007C10.0523 9.6908 10.5682 10.656 11.3258 11.4135C12.0833 12.171 13.0485 12.6869 14.0992 12.8959C15.1499 13.1049 16.239 12.9977 17.2288 12.5877C18.2186 12.1777 19.0645 11.4834 19.6597 10.5927C20.2549 9.7019 20.5726 8.65464 20.5726 7.58333C20.5734 6.87176 20.4339 6.16701 20.162 5.50945C19.8901 4.85188 19.4911 4.25441 18.988 3.75126C18.4848 3.2481 17.8874 2.84915 17.2298 2.57724C16.5722 2.30533 15.8675 2.1658 15.1559 2.16666Z" fill="black"/>
                    <path d="M21.6665 17.3333V21.6667H17.3332V17.3333H21.6665ZM23.8332 15.1667H15.1665V23.8333H23.8332V15.1667Z" fill="black"/>
                    <path d="M7.58317 14.2112L9.3165 17.3333H5.84984L7.58317 14.2112ZM7.58317 9.75L2.1665 19.5H12.9998L7.58317 9.75Z" fill="black"/>
                </svg>        
                <span  class="menu-item">Listings</span>    
            </li>
            <li routerLink="/order-management" routerLinkActive="active" 
            [routerLinkActiveOptions]="{exact:
               true}" class="nav-list-parents">
                <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.7263 12.65C17.5885 12.65 18.3472 12.1785 18.738 11.4655L22.8535 4.002C23.2789 3.243 22.7271 2.3 21.8534 2.3H4.8397L3.7591 0H0V2.3H2.29915L6.43761 11.0285L4.88569 13.8345C4.0465 15.3755 5.15009 17.25 6.89744 17.25H20.6923V14.95H6.89744L8.16197 12.65H16.7263ZM5.9318 4.6H19.8991L16.7263 10.35H8.65629L5.9318 4.6ZM6.89744 18.4C5.63291 18.4 4.60979 19.435 4.60979 20.7C4.60979 21.965 5.63291 23 6.89744 23C8.16197 23 9.19658 21.965 9.19658 20.7C9.19658 19.435 8.16197 18.4 6.89744 18.4ZM18.3932 18.4C17.1286 18.4 16.1055 19.435 16.1055 20.7C16.1055 21.965 17.1286 23 18.3932 23C19.6577 23 20.6923 21.965 20.6923 20.7C20.6923 19.435 19.6577 18.4 18.3932 18.4Z" fill="white"/>
                </svg>                                   
                <span  class="menu-item">Order Management</span>    
            </li>
            <li routerLink="/payment-management" routerLinkActive="active" 
            [routerLinkActiveOptions]="{exact:
               true}" class="nav-list-parents">
                <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20.5835 15.1667V6.5C20.5835 5.30834 19.6085 4.33334 18.4168 4.33334H3.25016C2.0585 4.33334 1.0835 5.30834 1.0835 6.5V15.1667C1.0835 16.3583 2.0585 17.3333 3.25016 17.3333H18.4168C19.6085 17.3333 20.5835 16.3583 20.5835 15.1667ZM18.4168 15.1667H3.25016V6.5H18.4168V15.1667ZM10.8335 7.58334C9.03516 7.58334 7.5835 9.035 7.5835 10.8333C7.5835 12.6317 9.03516 14.0833 10.8335 14.0833C12.6318 14.0833 14.0835 12.6317 14.0835 10.8333C14.0835 9.035 12.6318 7.58334 10.8335 7.58334ZM24.9168 7.58334V19.5C24.9168 20.6917 23.9418 21.6667 22.7502 21.6667H4.3335C4.3335 20.5833 4.3335 20.6917 4.3335 19.5H22.7502V7.58334C23.9418 7.58334 23.8335 7.58334 24.9168 7.58334Z" fill="black"/>
                </svg>                                      
                <span  class="menu-item">Payment Management</span>    
            </li>
            <li routerLink="/profile" routerLinkActive="active" 
            [routerLinkActiveOptions]="{exact:
               true}" class="nav-list-parents">
                <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.9998 2.16667C7.01984 2.16667 2.1665 7.02 2.1665 13C2.1665 18.98 7.01984 23.8333 12.9998 23.8333C18.9798 23.8333 23.8332 18.98 23.8332 13C23.8332 7.02 18.9798 2.16667 12.9998 2.16667ZM7.659 19.8033C8.12484 18.8283 10.9632 17.875 12.9998 17.875C15.0365 17.875 17.8857 18.8283 18.3407 19.8033C16.8673 20.9733 15.0148 21.6667 12.9998 21.6667C10.9848 21.6667 9.13234 20.9733 7.659 19.8033ZM19.8898 18.2325C18.3407 16.3475 14.5815 15.7083 12.9998 15.7083C11.4182 15.7083 7.659 16.3475 6.10984 18.2325C5.00484 16.7808 4.33317 14.9717 4.33317 13C4.33317 8.2225 8.22234 4.33333 12.9998 4.33333C17.7773 4.33333 21.6665 8.2225 21.6665 13C21.6665 14.9717 20.9948 16.7808 19.8898 18.2325ZM12.9998 6.5C10.8982 6.5 9.20817 8.19 9.20817 10.2917C9.20817 12.3933 10.8982 14.0833 12.9998 14.0833C15.1015 14.0833 16.7915 12.3933 16.7915 10.2917C16.7915 8.19 15.1015 6.5 12.9998 6.5ZM12.9998 11.9167C12.1007 11.9167 11.3748 11.1908 11.3748 10.2917C11.3748 9.3925 12.1007 8.66667 12.9998 8.66667C13.899 8.66667 14.6248 9.3925 14.6248 10.2917C14.6248 11.1908 13.899 11.9167 12.9998 11.9167Z" fill="black"/>
                </svg>                                                                              
                <span class="menu-item">Profile Management</span>    
            </li>
            <li routerLink="/follower-management" routerLinkActive="active" 
            [routerLinkActiveOptions]="{exact:
               true}" class="nav-list-parents">
                <svg width="26" height="14" viewBox="0 0 26 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.33333 8.08333C5.525 8.08333 6.5 7.10833 6.5 5.91667C6.5 4.725 5.525 3.75 4.33333 3.75C3.14167 3.75 2.16667 4.725 2.16667 5.91667C2.16667 7.10833 3.14167 8.08333 4.33333 8.08333ZM5.5575 9.275C5.15667 9.21 4.75583 9.16667 4.33333 9.16667C3.26083 9.16667 2.2425 9.39417 1.32167 9.795C0.52 10.1417 0 10.9217 0 11.7992V13.5H4.875V11.7558C4.875 10.8567 5.12417 10.0117 5.5575 9.275ZM21.6667 8.08333C22.8583 8.08333 23.8333 7.10833 23.8333 5.91667C23.8333 4.725 22.8583 3.75 21.6667 3.75C20.475 3.75 19.5 4.725 19.5 5.91667C19.5 7.10833 20.475 8.08333 21.6667 8.08333ZM26 11.7992C26 10.9217 25.48 10.1417 24.6783 9.795C23.7575 9.39417 22.7392 9.16667 21.6667 9.16667C21.2442 9.16667 20.8433 9.21 20.4425 9.275C20.8758 10.0117 21.125 10.8567 21.125 11.7558V13.5H26V11.7992ZM17.5933 8.7875C16.3258 8.22417 14.7658 7.8125 13 7.8125C11.2342 7.8125 9.67417 8.235 8.40667 8.7875C7.23667 9.3075 6.5 10.4775 6.5 11.7558V13.5H19.5V11.7558C19.5 10.4775 18.7633 9.3075 17.5933 8.7875ZM8.7425 11.3333C8.84 11.0842 8.88333 10.9108 9.72833 10.5858C10.7792 10.1742 11.8842 9.97917 13 9.97917C14.1158 9.97917 15.2208 10.1742 16.2717 10.5858C17.1058 10.9108 17.1492 11.0842 17.2575 11.3333H8.7425ZM13 2.66667C13.5958 2.66667 14.0833 3.15417 14.0833 3.75C14.0833 4.34583 13.5958 4.83333 13 4.83333C12.4042 4.83333 11.9167 4.34583 11.9167 3.75C11.9167 3.15417 12.4042 2.66667 13 2.66667ZM13 0.5C11.2017 0.5 9.75 1.95167 9.75 3.75C9.75 5.54833 11.2017 7 13 7C14.7983 7 16.25 5.54833 16.25 3.75C16.25 1.95167 14.7983 0.5 13 0.5Z" fill="black"/>
                </svg>                                                      
                <span  class="menu-item">Following Management</span>    
            </li>
            <li routerLink="/message" routerLinkActive="active" 
            [routerLinkActiveOptions]="{exact:
               true}" class="nav-list-parents">
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.25 2.33335V9.91669H3.60085L2.96169 10.5559L2.33335 11.1842V2.33335H14.25ZM15.3334 0.166687H1.25002C0.654187 0.166687 0.166687 0.654187 0.166687 1.25002V16.4167L4.50002 12.0834H15.3334C15.9292 12.0834 16.4167 11.5959 16.4167 11V1.25002C16.4167 0.654187 15.9292 0.166687 15.3334 0.166687ZM20.75 4.50002H18.5834V14.25H4.50002V16.4167C4.50002 17.0125 4.98752 17.5 5.58335 17.5H17.5L21.8334 21.8334V5.58335C21.8334 4.98752 21.3459 4.50002 20.75 4.50002Z" fill="black"/>
                </svg>                                                                                             
                <span class="menu-item">Message</span>    
            </li>
        </ul>
    </div>
    <div class="logout-page-btns">
        <div class="left-side-logout">
            <div class="person-img">
                <img src="../../../assets/images/person.png" alt="person" title="person"/>
            </div>
            <div class="user-details">
                <div class="user-name">John Smith</div>
                <div class="user-email">Johnsmith@gmail.com</div>
            </div>
            <div class="logut-img">
                <img (click)="logout()" src="../../../assets/images/logout-door.svg" alt="logout-img" title="img" />
            </div>
        </div>
        <div class="right-side-back-arrow">
            <img (click)="toggleMenu()" src="../../../assets/images/back-arrow.svg">
        </div>
    </div>
</div>
</div>
</div>