// ----Media query mixin-----------//
@mixin min-mq($min-screen-size) {
    @media (min-width: $min-screen-size +"px") {
        @content;
    }
}
@mixin max-mq($max-screen-size) {
    @media (max-width: $max-screen-size +"px") {
        @content;
    }
}
// ----------------------------For Orientation-----------------------//
@mixin landscape-orientation($max-screen-size, $orientation) {
    @media (max-width: $max-screen-size +"px") and (orientation: $orientation) {
        @content;
    }
}
@mixin btw-mq($min-screen-size, $max-screen-size, $pixel-ratio, $orientation) {
    @media only screen and (min-width: $min-screen-size +"px") and (max-width: $max-screen-size +"px") and (-webkit-min-device-pixel-ratio: $pixel-ratio) and (orientation: $orientation) {
        @content;
    }
}
// ------------END of Media Screen Mixing--------------//
.sidebar-main {
    background: #fff;
    width: 310px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    z-index: 1;
    box-shadow: 1px 0px 4px rgb(0 0 0 / 10%);
    .logo-area-main {
        padding: 0px 20px;
        padding-top: 20px;
        padding-bottom: 0px;
        display: flex;
        align-items: center;
        cursor: pointer;
        img {
            width: 54px;
            height: 54px;
            margin-right: 20px;
        }
        span {
            font-weight: 500;
            font-size: 20px;
            line-height: 22px;
            letter-spacing: 0.02em;
            color: #000000;
        }
    }
}
.listing-menu-sidebar {
    height: calc(100% - 140px);
    overflow-y: auto;
    padding-top: 20px;
    ul.sub-menu-list {
        padding: 0;
        margin: 0;
        list-style-type: none;
        li {
            padding: 14px 28px;
            display: flex;
            align-items: center;
            transition: 0.2s all ease;
            cursor: pointer;
            &:hover{
                background: #F56400;
                svg{
                    path{
                        fill: #fff;
                    }
                }
                span.menu-item{
                    color: #fff;
                }
            }
            svg{
                width: 19px;
                height: 19px;
                object-fit: scale-down;
                margin-right: 21px;
                path {
                    fill: #000;
                }
            }
            span.menu-item {
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                letter-spacing: 0.02em;
                color: #000000;
            }
        }
        .active {
            background: #F56400;
            svg{
                path {
                    fill: #fff;
                }
            }
            span.menu-item{
                color: #fff;
            }
        }
    }
}


.logout-page-btns {
    display: flex;
    align-items: center;
    width: 100%;
    border-top: 1px solid #BCBCBC;
    .right-side-back-arrow {
        width: 10%;
        text-align: center;
        cursor: pointer;
    }
    .left-side-logout{
        display: flex;
        align-items: center;
        width: 95%;
        padding: 14px 20px;
        background: #F5F5F5;
        border-right: 1px solid #bcbcbc;
        cursor: pointer;
        .person-img {
            margin-right: 5px;
            img{
                width: 32px;
                border-radius: 100%;
            }
        }
        .user-details{
            width: 100%;
            .user-name {
                font-weight: 600;
                font-size: 15px;
                line-height: normal;
                letter-spacing: 0.02em;
                color: #000000;
                margin-bottom: 6px;
            }
            .user-email {
                font-size: 12px;
                line-height: normal;
            }
        }
        .logut-img{
            img{
                width: 17px;
            }
        }
    }
}