<div class="header-variations">
    <div class="left-col">
        <div class="popup-heading">Add Variations</div>
        <div class="text">List all the options you offer. Buyers will see them in the order they are here.</div>
    </div>
    <div class="right-col">
        <img [mat-dialog-close] src="../../../assets/images/error-close-icon.svg">
    </div>
</div>
<div class="content-box">

    <!-- color -->

    <ng-container *ngIf="colorFlag">
    <div class="primary-color">
        <div class="comman-heading">Primary color</div>
        <div (click)="deletePrimaryColor('Color')" class="delete-text">Delete</div>
    </div>
    <div class="gray-box">
        <div class="check-box-new">
            <mat-checkbox (change)="showOptions1($event,'price')" class="example-margin">Prices vary for each primary colour</mat-checkbox>
            <mat-checkbox (change)="showOptions1($event,'quantity')" class="example-margin">Quantities vary for each primary colour</mat-checkbox>
        </div>
        <div class="add-btns">
            <div class="input-filed">       
                    <input type="text" [(ngModel)]="filterName"  [formControl]="myControl"
                    type="text" placeholder="Enter the value" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option}}
                      </mat-option>
                    </mat-autocomplete>
                
              
            </div>
            <button (click)="addColor()" class="add-btn">Add</button>
        </div>
        <div  *ngFor="let data of color;let i = index" class = "chip">
            <span  class="chip-name">{{data}}</span>
            <button (click)="deleteChip(i,data)"  type = "button" title="Remove chip" aria-label="Remove chip"><img src="../../../assets/images/delete-chip.png"></button>
          </div>
    </div>
</ng-container>

        <!-- size -->
        <ng-container *ngIf="sizeFlag">
            <div class="primary-color">
                <div class="comman-heading">Primary color</div>
                <div (click)="deletePrimaryColor('Size')" class="delete-text">Delete</div>
            </div>
            <div class="gray-box">
                <div class="check-box-new">
                    <mat-checkbox (change)="showOptions($event,'price')"  class="example-margin">Prices vary for each primary colour</mat-checkbox>
                    <mat-checkbox (change)="showOptions($event,'quantity')" class="example-margin">Quantities vary for each primary colour</mat-checkbox>
                </div>
                <div class="add-btns">
                    <div class="input-filed">       
                            <input type="text" [(ngModel)]="filterName1"  [formControl]="myControl1"
                            type="text" placeholder="Enter the value" [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete">
                              <mat-option *ngFor="let option of filteredOptions1 | async" [value]="option">
                                {{option}}
                              </mat-option>
                            </mat-autocomplete>
                        
                      
                    </div>
                    <button (click)="addSize()" class="add-btn">Add</button>
                </div>
                <div  *ngFor="let data of size;let i = index" class = "chip">
                    <span  class="chip-name">{{data}}</span>
                    <button (click)="deleteSize(i,data)"  type = "button" title="Remove chip" aria-label="Remove chip"><img src="../../../assets/images/delete-chip.png"></button>
                  </div>
            </div>
        </ng-container>

<ng-container *ngIf="!colorFlag || !sizeFlag">
    <div class="comman-heading">Add a variations:</div>
    <div class="dropdown custom-dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{variationTypeButton}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a *ngFor="let data of item" (click)="variationType(data)" class="dropdown-item">{{data}}</a>
          <!-- <a (click)="variationType('Color')" class="dropdown-item">Color</a> -->
        </div>
    </div>
</ng-container>
    <div class="save-custom-btns">
        <button [mat-dialog-close] class="cancel-btn comman-btn">Cancel</button>
        <button (click)="closeDialog()" class="save-btn comman-btn">Save & Continue</button>
    </div>
</div>