.header-variations {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    .left-col{
        .popup-heading {
            font-weight: 600;
            font-size: 18px;
            line-height: normal;
            letter-spacing: 0.02em;
            color: #000000;
            margin-bottom: 12px;
        }
        .text{
            font-size: 14px;
            letter-spacing: 0.02em;
            color: #000000;
            font-weight: 500;
            line-height: normal;
        }
    }
    .right-col{
        cursor: pointer;
        img{
            width: 22px;
        }
    }
}

.comman-heading{
    font-weight: 500;
    font-size: 16px;
    line-height: normal;
    letter-spacing: 0.02em;
    color: #000000;
}

.content-box {
    padding: 20px 20px;
    padding-top: 0px;
}

.primary-color {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    .delete-text {
        font-weight: 500;
        font-size: 14px;
        line-height: normal;
        letter-spacing: 0.02em;
        color: #F56400;
        cursor: pointer;
    }
}


.gray-box {
    background: #F6F6F6;
    border-radius: 7px;
    padding: 20px 20px;
    margin-bottom: 30px;
    .check-box-new {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #595959;
        font-weight: 400;
        margin-bottom: 30px;
    }
}

.add-btns {
    display: flex;
    align-items: center;
    column-gap: 10px;
    width: 60%;
    .input-filed {
        width: 80%;
        input {
            width: 100%;
            border: 1px solid #BCBCBC;
            box-sizing: border-box;
            border-radius: 7px;
            font-size: 14px;
            padding: 9px 21px;
            font-weight: 400;
            outline: none;
        }
    }
    button.add-btn {
        font-weight: 500;
        font-size: 14px;
        line-height: normal;
        text-align: right;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        border: none;
        background: #F56400;
        border-radius: 7px;
        padding: 13px 24px;
    }
}

.custom-dropdown{
    width: 50%;
    margin-top: 10px;
    margin-bottom: 50px;
    .btn{
        background: #fff;
        border: 1px solid #BCBCBC;
        box-sizing: border-box;
        border-radius: 7px;
        font-weight: 500;
        font-size: 14px;
        line-height: normal;
        letter-spacing: 0.02em;
        color: #777777;
        padding: 13px 20px;
        text-align: left;
        padding-right: 50px;
        position: relative;
        box-shadow: none;
        width: 100%;
        &::after{
            display: none;
        }
        &::before{
            position: absolute;
            content: '';
            background: url('../../../assets/images/right-side-arrow.svg')no-repeat;
            background-size: 14px 14px;
            width: 14px;
            height: 14px;
            right: 10px;
            top: 0;
            bottom: 0;
            margin: auto;
            transform: rotate(90deg);
        }
    }
    .dropdown-menu {
        background: #FFFFFF;
        box-shadow: 0px 0px 8px rgb(0 0 0 / 20%);
        border-radius: 7px;
        border: none;
        li{
            a{
                font-size: 16px;
                line-height: 24px;
                display: flex;
                align-items: center;
                letter-spacing: 0.02em;
                color: #000000;
                padding: 11px 20px;
            }
        }
    }
}

.save-custom-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .comman-btn {
        line-height: normal;
        padding: 12px 40px;
        border-radius: 100px;
        border: none;
        color: #fff;
        font-size: 13px;
    }
    .cancel-btn {
        background: #BCBCBC;
    }
    .save-btn {
        background: #ef6437;
    }    
}
button{
    cursor:pointer;
  }
  .chip-group{
    display:flex;
    flex-wrap:wrap;
  }
  .chip.chip-checkbox > .chip-add-icon::after {
    content:"add"
  }
  .chip.chip-checkbox.active > .chip-add-icon::after {
    content:"done"
  }
  .chip > * {
    margin-right: 7px;
    margin-left: 8px;
    color: #757373;
  }
  .chip input {
    display: none;
  }
  .chip.chip-checkbox,
  .chip.chip-toggle,
  .chip.clickable{
    cursor: pointer;
  }
  .chip.active {
    background-color: #d3d2d2;
    border-color:#c3c2c2;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12)
  }
  .chip:hover, .chip:focus {
    background-color: #e3e2e2;
  }
  .chip:active:focus{
    background-color: #d3d2d2;  
  }
  .chip button{
    border:none;
    margin-top:0;
    margin-bottom:0;
    padding:0;
    background:none;
    display:inline-flex;
  }
  .chip {
    transition: all 0.3s ease-in-out;
    background: #FFFFFF;
    //border-radius: 30px;
    //border: 1px solid #d3d2d2;
    display: inline-flex;
    align-items:center;
    padding: 4px 6px 4px 6px;
    margin-right:6px;
   // margin-bottom:6px;
    margin-top: 16px;
    border: 1px solid #777777;
    box-sizing: border-box;
    border-radius: 100px;
  }
  .chip i.material-icons {
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .chip-name{
    font-family: Graphik;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
  }

