<div class="heading-modal-main">
    <div class="page-heading">Cancel Order</div>
    <div class="close-icon"><img src="../../../assets/images/error-close-icon.svg" /></div>
</div>

<div class="box-contents">
    <div class="first-rows">
        <img src="../../../assets/images/warning-icon.svg" alt="warning" title="warning"/>
        <div class="text">Are you sure want to cancel this order?</div>
    </div>
    <div class="text-heading">Give a Reason:</div>
    <mat-radio-group aria-label="Select an option">
        <div class="d-block text-radio">
            <mat-radio-button value="1">Lorem Ipsum is simply dummy text.</mat-radio-button>
        </div>
        <div class="d-block text-radio">
            <mat-radio-button value="2">Lorem Ipsum is simply.</mat-radio-button>
        </div>
        <div class="d-block text-radio">
            <mat-radio-button value="3">Lorem Ipsum is simply dummy text simply.</mat-radio-button>
        </div>
        <div class="d-block text-radio">
            <mat-radio-button value="4">Lorem Ipsum is simply dummy.</mat-radio-button>
        </div>
        <div class="d-block text-radio">
            <mat-radio-button value="5">Other</mat-radio-button>
        </div>
      </mat-radio-group>
      <div class="text-area-new">
          <textarea placeholder="Enter Other Reason..."></textarea>
      </div>
      <div class="btn-row">
          <button class="no-btn comman-btn">No</button>
          <button class="yes-btn comman-btn">Yes, Cancel</button>
      </div>


</div>