.heading-modal-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 16px 20px;
    border-bottom: 1px solid #ccc;
    .page-heading {
        padding-top: 0px;
        margin-bottom: 0px;
        font-size: 20px;
    }
    .close-icon {
        img{
            cursor: pointer;
            width: 25px;
        }
        
    }
}

.box-contents {
    padding: 20px;
    padding-top: 0px;
    .first-rows {
        display: flex;
        align-items: center;
        column-gap: 20px;
        margin-bottom: 20px;
        img{
            width: 60px;
        }
        .text {
            font-weight: 500;
            font-size: 16px;
            line-height: normal;
            letter-spacing: 0.02em;
            color: #000000;
        }
    }
}

.text-heading {
    font-size: 16px;
    margin-bottom: 14px;
    line-height: normal;
}

.text-radio {
    font-size: 14px;
    margin-bottom: 10px;
    color: #777777;
    font-family: 'Graphik' !important;
    font-weight: 400;
}

.text-area-new{
    textarea{
        margin-bottom: 20px;
        width: 100%;
        height: 90px;
        border: 1px solid #BCBCBC;
        box-sizing: border-box;
        border-radius: 7px;
        font-size: 12px;
        padding: 9px 15px;
        outline: none;
        resize: inherit;
    }
} 

.btn-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .comman-btn {
        background: #BCBCBC;
        border-radius: 100px;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        border: none;
        padding: 10px 20px;
        width: 30%;
    }
    .yes-btn{
        background: #F56400;
    }
}