<div class="page-wrapper-main">
    <div class="page-heading">Payment Management</div>
    <div class="payment-grids-main">
        <div class="comman-grid text-center">
            <div class="text-head">Next Payment</div>
            <div class="price">$ 1225.00</div>
            <div class="small-text">Date For Payment Release</div>
        </div>
        <div class="comman-grid text-center">
            <div class="text-head">Total Outstanding</div>
            <div class="price">$ 125.00</div>
            <div class="small-text">Amount</div>
        </div>
    </div>
    <div class="page-heading">All Transaction</div>
    <div class="tabs-area-new">
          <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Transation History <span class="number">3</span> </a>
              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Products <span class="number">3</span></a>
            </div>
          </nav>
          <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="input-and-btn-row">
                    <div class="comman-inputs">
                        <input type="text" placeholder="25-09 to 30-09" class="form-control" bsDatepicker>
                    </div>
                    <div class="download-icon">
                        <img src="../../../assets/images/download-icons.svg">
                        Invoice
                    </div>
                </div>
                <!-- ---------------OTM-line-lite-------------------- -->
                <div class="OTM-line-lites">
                    <div class="comman-rows" *ngFor="let item of [1,2]">
                        <div class="comman-col">
                            <img src="../../../assets/images/bag.png" alt="bag">
                            <div class="product-title">OTM Line Title</div>
                        </div>
                        <div class="text-description">Duration Of Days: 1 july to 6 july</div>
                        <div class="dollar-btn">$1225.00</div>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="input-and-btn-row">
                    <div class="comman-inputs">
                        <input type="text" placeholder="25-09 to 30-09" class="form-control" bsDatepicker>
                    </div>
                    <div class="download-icon">
                        <img src="../../../assets/images/download-icons.svg">
                        Invoice
                    </div>
                </div>
                <!-- -------Products------------------ -->
                <div class="product-name">
                    <div class="comman-rows" *ngFor="let items of [1,2,3]">
                        <img src="../../../assets/images/bag.png" alt="bag">
                        <div class="center-col">
                            <div class="product-title">Product name</div>
                            <div class="quan-grid">
                                <div class="comman-grids">Order ID: #1234</div>
                                <div class="comman-grids">Quantity: 3</div>
                                <div class="comman-grids">Reseller name: John doe</div>
                            </div>
                        </div>    
                        <div class="dollar-btn">$1225.00</div>
                    </div>
                </div>


            </div>
          </div>


    </div>   
    
</div>
