// ----Media query mixin-----------//
@mixin min-mq($min-screen-size) {
    @media (min-width: $min-screen-size +"px") {
        @content;
    }
}
@mixin max-mq($max-screen-size) {
    @media (max-width: $max-screen-size +"px") {
        @content;
    }
}
// ----------------------------For Orientation-----------------------//
@mixin landscape-orientation($max-screen-size, $orientation) {
    @media (max-width: $max-screen-size +"px") and (orientation: $orientation) {
        @content;
    }
}
@mixin btw-mq($min-screen-size, $max-screen-size, $pixel-ratio, $orientation) {
    @media only screen and (min-width: $min-screen-size +"px") and (max-width: $max-screen-size +"px") and (-webkit-min-device-pixel-ratio: $pixel-ratio) and (orientation: $orientation) {
        @content;
    }
}
//----------------------------------------------------------------//
.payment-grids-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    margin-bottom: 30px;
    .comman-grid {
        background: #FFFFFF;
        box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);
        border-radius: 7px;
        padding: 40px 0px;
        .text-head {
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 0.02em;
            color: #000000;
            margin-bottom: 15px;
        }
        .price {
            font-weight: 600;
            font-size: 24px;
            line-height: 26px;
            letter-spacing: 0.02em;
            color: #F56400;
            display: inline-block;
            width: auto;
            margin-bottom: 10px;
            background: rgb(245 100 0 / 15%);
            border-radius: 5px;
            padding: 20px 60px;
        }
        .small-text {
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.02em;
            color: #777777;
            font-weight: 400;
        }
    }
}

.tabs-area-new{
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #bcbcbc;
        padding-bottom: 10px;
        width: 67%;
        @include max-mq(1500){
            width: 63%;
        }
        @include max-mq(1300){
            width: 54%;
        }
        .nav {
            width: 80%;
            border: none;
            flex-wrap: inherit !important;
            @include max-mq(1500){
                width: 80%;
            }
            @include max-mq(1300){
                width: 80%;
            }
            @include max-mq(1300){
                width: 100%;
            }
            .nav-item {
                display: flex;
                align-items: center;
                justify-content: center;
                background: none !important;
                border: none !important;
                padding: 10px 20px !important;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.02em;
                color: #777777 !important;
                margin-bottom: 0 !important;
                font-family: "Graphik";
                @include max-mq(1500){
                    font-size: 14px;
                }
                @include max-mq(1200){
                    font-size: 14px;
                    padding: 10px 0px !important;
                }
                span.number {
                    background: #777777;
                    border-radius: 3px;
                    margin-left: 10px;
                    width: 22px;
                    height: 22px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 12px;
                    color: #fff;
                }
            }
            .active {
                color: #000 !important;
                position: relative;
                &::before{
                    position: absolute;
                    content: "";
                    background: #F56400;
                    left: 0;
                    right: 0;
                    height: 3px;
                    bottom: -12px;
                }
                span.number{
                    background: #F56400;
                }
            }
        }
        button.filter-btn {
            text-align: center;
            letter-spacing: 0.02em;
            color: #777777;
            border: 1px solid #777777;
            border-radius: 7px;
            background: none;
            padding: 9px 23px;
            display: flex;
            align-items: center;
            column-gap: 11px;
            font-size: 16px;
            font-weight: 500;
            font-family: 'Graphik' !important;
        }
    }
}


.download-icon {
    display: flex;
    align-items: center;
    border: 1px solid #777777;
    box-sizing: border-box;
    border-radius: 7px;
    background: #fff;
    padding: 12px 20px;
    column-gap: 10px;
    color: #777777;
}

.input-and-btn-row {
    display: flex;
    align-items: center;
    column-gap: 20px;
    justify-content: flex-end;
    margin-top: -71px;
    margin-bottom: 41px;
    .comman-inputs {
        width: 20%;
        position: relative;
        @include max-mq(1300){
            width: 26%;
        }
        &::before{
            position: absolute;
            content: '';
            background: url(../../../assets/images/calender-icon.svg)no-repeat;
            background-size: 20px 20px;
            width: 20px;
            height: 20px;
            right: 10px;
            top: -2px;
            bottom: 0;
            margin: auto;
        }

        input{
            padding: 12px 20px;
            border-radius: 5px;
            border: 1px solid #777777;
            box-shadow: none;
        }
    }
}

.OTM-line-lites{
    .comman-rows {
        background: #FFFFFF;
        box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);
        border-radius: 7px;
        padding: 20px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .comman-col {
            display: flex;
            align-items: center;
            column-gap: 20px;
        }
        .text-description {
            font-weight: 400;
            font-size: 15px;
            line-height: normal;
            display: flex;
            align-items: center;
            letter-spacing: 0.02em;
            color: #777777;
        }
        .dollar-btn {
            font-weight: 500;
            font-size: 16px;
            line-height: normal;
            display: flex;
            align-items: center;
            text-align: right;
            letter-spacing: 0.02em;
            color: #F56400;
            border: 1px solid #f56400;
            padding: 13px 38px;
            border-radius: 100px;
            cursor: pointer;
        }
    }
}

.product-name{
    .comman-rows{
        background: #FFFFFF;
        box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);
        border-radius: 7px;
        padding: 20px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .dollar-btn {
            font-weight: 500;
            font-size: 16px;
            line-height: normal;
            display: flex;
            align-items: center;
            text-align: right;
            letter-spacing: 0.02em;
            color: #F56400;
            border: 1px solid #f56400;
            padding: 13px 38px;
            border-radius: 100px;
            cursor: pointer;
        }
        .center-col {
            width: 80%;
            padding-left: 20px;
            .product-title {
                margin-bottom: 10px;
            }
            .quan-grid {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-column-gap: 20px;
                .comman-grids {
                    font-weight: 400;
                    font-size: 15px;
                    line-height: normal;
                    letter-spacing: 0.02em;
                    color: #777777;
                }
            }
        }

    }
}