.text-des {
    margin-bottom: 15px;
    margin-top: 30px;
}

.btn-row {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
    margin-bottom: 20px;
    .comman-btn {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        border: none;
        padding: 10px 40px;
        border-radius: 100px;
    }
    .orange {
        background: #ef6437;
    }
    .cancel {
        background: #BCBCBC;
    }
}