<div class="main-success-dialog-area text-center">
    <div class="verify-check-img mt-4 mb-4">
        <img src="../../../assets/images/warning.svg" alt="warning" title="img">
    </div>
    <div class="text-des text-center">Are you sure want to deactive this <br> product?</div>

    <div class="btn-row">
        <button class="comman-btn orange">Deactive</button>
        <button class="comman-btn cancel">Cancel</button>
    </div>

</div>