@font-face {
    font-family: 'Graphik';
    src: url('assets/fonts/Graphik-Light.eot');
    src: url('assets/fonts/Graphik-Light.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Graphik-Light.woff2') format('woff2'),
        url('assets/fonts/Graphik-Light.woff') format('woff'),
        url('assets/fonts/Graphik-Light.ttf') format('truetype'),
        url('assets/fonts/Graphik-Light.svg#Graphik-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('assets/fonts/Graphik-LightItalic.eot');
    src: url('assets/fonts/Graphik-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Graphik-LightItalic.woff2') format('woff2'),
        url('assets/fonts/Graphik-LightItalic.woff') format('woff'),
        url('assets/fonts/Graphik-LightItalic.ttf') format('truetype'),
        url('assets/fonts/Graphik-LightItalic.svg#Graphik-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('assets/fonts/Graphik-Medium.eot');
    src: url('assets/fonts/Graphik-Medium.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Graphik-Medium.woff2') format('woff2'),
        url('assets/fonts/Graphik-Medium.woff') format('woff'),
        url('assets/fonts/Graphik-Medium.ttf') format('truetype'),
        url('assets/fonts/Graphik-Medium.svg#Graphik-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('assets/fonts/Graphik-MediumItalic.eot');
    src: url('assets/fonts/Graphik-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Graphik-MediumItalic.woff2') format('woff2'),
        url('assets/fonts/Graphik-MediumItalic.woff') format('woff'),
        url('assets/fonts/Graphik-MediumItalic.ttf') format('truetype'),
        url('assets/fonts/Graphik-MediumItalic.svg#Graphik-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('assets/fonts/Graphik-Regular.eot');
    src: url('assets/fonts/Graphik-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Graphik-Regular.woff2') format('woff2'),
        url('assets/fonts/Graphik-Regular.woff') format('woff'),
        url('assets/fonts/Graphik-Regular.ttf') format('truetype'),
        url('assets/fonts/Graphik-Regular.svg#Graphik-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('assets/fonts/Graphik-RegularItalic.eot');
    src: url('assets/fonts/Graphik-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Graphik-RegularItalic.woff2') format('woff2'),
        url('assets/fonts/Graphik-RegularItalic.woff') format('woff'),
        url('assets/fonts/Graphik-RegularItalic.ttf') format('truetype'),
        url('assets/fonts/Graphik-RegularItalic.svg#Graphik-RegularItalic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('assets/fonts/Graphik-Semibold.eot');
    src: url('assets/fonts/Graphik-Semibold.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Graphik-Semibold.woff2') format('woff2'),
        url('assets/fonts/Graphik-Semibold.woff') format('woff'),
        url('assets/fonts/Graphik-Semibold.ttf') format('truetype'),
        url('assets/fonts/Graphik-Semibold.svg#Graphik-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik Super';
    src: url('assets/fonts/Graphik-Super.eot');
    src: url('assets/fonts/Graphik-Super.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Graphik-Super.woff2') format('woff2'),
        url('assets/fonts/Graphik-Super.woff') format('woff'),
        url('assets/fonts/Graphik-Super.ttf') format('truetype'),
        url('assets/fonts/Graphik-Super.svg#Graphik-Super') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('assets/fonts/Graphik-SemiboldItalic.eot');
    src: url('assets/fonts/Graphik-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Graphik-SemiboldItalic.woff2') format('woff2'),
        url('assets/fonts/Graphik-SemiboldItalic.woff') format('woff'),
        url('assets/fonts/Graphik-SemiboldItalic.ttf') format('truetype'),
        url('assets/fonts/Graphik-SemiboldItalic.svg#Graphik-SemiboldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('assets/fonts/Graphik-ThinItalic.eot');
    src: url('assets/fonts/Graphik-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Graphik-ThinItalic.woff2') format('woff2'),
        url('assets/fonts/Graphik-ThinItalic.woff') format('woff'),
        url('assets/fonts/Graphik-ThinItalic.ttf') format('truetype'),
        url('assets/fonts/Graphik-ThinItalic.svg#Graphik-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik Super';
    src: url('assets/fonts/Graphik-SuperItalic.eot');
    src: url('assets/fonts/Graphik-SuperItalic.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Graphik-SuperItalic.woff2') format('woff2'),
        url('assets/fonts/Graphik-SuperItalic.woff') format('woff'),
        url('assets/fonts/Graphik-SuperItalic.ttf') format('truetype'),
        url('assets/fonts/Graphik-SuperItalic.svg#Graphik-SuperItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('assets/fonts/Graphik-Thin.eot');
    src: url('assets/fonts/Graphik-Thin.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Graphik-Thin.woff2') format('woff2'),
        url('assets/fonts/Graphik-Thin.woff') format('woff'),
        url('assets/fonts/Graphik-Thin.ttf') format('truetype'),
        url('assets/fonts/Graphik-Thin.svg#Graphik-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('assets/fonts/Graphik-BlackItalic.eot');
    src: url('assets/fonts/Graphik-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Graphik-BlackItalic.woff2') format('woff2'),
        url('assets/fonts/Graphik-BlackItalic.woff') format('woff'),
        url('assets/fonts/Graphik-BlackItalic.ttf') format('truetype'),
        url('assets/fonts/Graphik-BlackItalic.svg#Graphik-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('assets/fonts/Graphik-Bold.eot');
    src: url('assets/fonts/Graphik-Bold.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Graphik-Bold.woff2') format('woff2'),
        url('assets/fonts/Graphik-Bold.woff') format('woff'),
        url('assets/fonts/Graphik-Bold.ttf') format('truetype'),
        url('assets/fonts/Graphik-Bold.svg#Graphik-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('assets/fonts/Graphik-Black.eot');
    src: url('assets/fonts/Graphik-Black.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Graphik-Black.woff2') format('woff2'),
        url('assets/fonts/Graphik-Black.woff') format('woff'),
        url('assets/fonts/Graphik-Black.ttf') format('truetype'),
        url('assets/fonts/Graphik-Black.svg#Graphik-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('assets/fonts/Graphik-BoldItalic.eot');
    src: url('assets/fonts/Graphik-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Graphik-BoldItalic.woff2') format('woff2'),
        url('assets/fonts/Graphik-BoldItalic.woff') format('woff'),
        url('assets/fonts/Graphik-BoldItalic.ttf') format('truetype'),
        url('assets/fonts/Graphik-BoldItalic.svg#Graphik-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('assets/fonts/Graphik-Extralight.eot');
    src: url('assets/fonts/Graphik-Extralight.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Graphik-Extralight.woff2') format('woff2'),
        url('assets/fonts/Graphik-Extralight.woff') format('woff'),
        url('assets/fonts/Graphik-Extralight.ttf') format('truetype'),
        url('assets/fonts/Graphik-Extralight.svg#Graphik-Extralight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('assets/fonts/Graphik-ExtralightItalic.eot');
    src: url('assets/fonts/Graphik-ExtralightItalic.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Graphik-ExtralightItalic.woff2') format('woff2'),
        url('assets/fonts/Graphik-ExtralightItalic.woff') format('woff'),
        url('assets/fonts/Graphik-ExtralightItalic.ttf') format('truetype'),
        url('assets/fonts/Graphik-ExtralightItalic.svg#Graphik-ExtralightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

// ----Media query mixin-----------//
@mixin min-mq($min-screen-size) {
    @media (min-width: $min-screen-size +"px") {
        @content;
    }
}
@mixin max-mq($max-screen-size) {
    @media (max-width: $max-screen-size +"px") {
        @content;
    }
}
// ----------------------------For Orientation-----------------------//
@mixin landscape-orientation($max-screen-size, $orientation) {
    @media (max-width: $max-screen-size +"px") and (orientation: $orientation) {
        @content;
    }
}
@mixin btw-mq($min-screen-size, $max-screen-size, $pixel-ratio, $orientation) {
    @media only screen and (min-width: $min-screen-size +"px") and (max-width: $max-screen-size +"px") and (-webkit-min-device-pixel-ratio: $pixel-ratio) and (orientation: $orientation) {
        @content;
    }
}
// ------------END of Media Screen Mixing--------------//

html, body {
    padding:0;
    margin:0;
    overflow-x: hidden;
    font-family: 'Graphik' !important;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #000000;
}

button, a{
    cursor: pointer;
    outline:none !important;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #ffff; 
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #F56400;
    border-radius: 7px;
}

.second-heading {
    font-weight: 600;
    font-size: 34px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
    margin-top: 0;
    margin-bottom: 20px;
    @include max-mq(1500){
        font-size: 28px;
        margin-bottom: 15px;
    }
}

p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #000000;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 400;
    @include max-mq(1500){
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 15px;
    }
}

.heading{
    font-weight: 600;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 0.02em;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 30px;
    @include max-mq(1500){
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 25px;
    }
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #f78a3f !important;
}

.register-stepper-form-main{
    .mat-stepper-horizontal{
        .mat-horizontal-stepper-header-container {
            background: #f2f2f2;
            border-radius: 10px;
            padding: 8px 30px;
            justify-content: center;
            @include max-mq(1500){
                padding: 4px 20px;
            }
            .mat-step-header {
                justify-content: center;
                height: auto;
                padding: 0px;
                display: block;
                &:hover{
                    background: none !important;
                }
                &:focus{
                    background: none !important;
                }
                .mat-step-header-ripple{
                    display:none;
                }
                .mat-step-icon {
                    width: 40px;
                    height: 40px;
                    top: 10px;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 24px;
                    text-align: right;
                    letter-spacing: 0.02em;
                    background: none !important;
                    border: 1px solid #777777;
                    color: #777777 !important;
                    @include max-mq(1500){
                        width: 35px;
                        height: 35px;
                        font-size: 15px;
                    }
                }
                .mat-step-icon-selected {
                    background: #F56400 !important;
                    color: #fff !important;
                    border-color: #f56400 !important;
                }
                .mat-step-icon-state-edit{
                    background: #F56400 !important;
                    color: #fff !important;
                    border-color: #f56400 !important;
                }
            }
            .mat-stepper-horizontal-line{
                margin: 0 40px;
                @include max-mq(1500){
                    margin: 0px 20px;
                }
            }
        }
        .mat-horizontal-content-container{
            padding: 0px 60px;
            padding-top: 30px;
            @include max-mq(1500){
                padding: 0px 40px;
                padding-top: 20px;
            }
        }
    }
}

.mat-stepper-vertical, .mat-stepper-horizontal{
    font-family: "Graphik" !important;
}

.dont-have-account {
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    @include max-mq(1500){
        font-size: 14px;
    }
    span.color-orange-link {
        color: #F56400;
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
    }
}

.cdk-overlay-dark-backdrop {
    background: rgba(0, 0, 0,  70%) !important;
}

.comman-small-size-modal {
    max-width: 100% !important;
    width: 580px;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 50%);
    border-radius: 20px;
    .mat-dialog-container {
        padding: 18px !important;
        border-radius: 20px !important;
        position: relative !important;
    }
}


.close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    img {
        width: 25px;
        cursor: pointer;
    }
}

.outline-btn {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.02em;
    color: #F56400;
    background: #fff;
    border: 2px solid #F56400;
    padding: 15px 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 100px;
    transition: 0.4s all ease;
    &:hover{
        background: #f56400;
        color: #fff;
    }
}

.comman-compo-main {
    margin-left: 310px;
    padding: 0px 20px;
    height: calc(100vh - 0px);
    background: #f9f9f9;
    overflow-y: auto;
}

.page-heading {
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 0.02em;
    color: #000000;
    padding-top: 30px;
    margin-bottom: 30px;
}
.inner-page-heading{
    font-weight:500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #000000;
}

label{
    margin-bottom: 0px;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: #ef6437 !important;
}

.comman-slice-big-size-modal {
    max-width: 100% !important;
    width: 770px;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 50%);
    border-radius: 20px;
    .mat-dialog-container {
        padding: 0px !important;
        border-radius: 20px !important;
        position: relative !important;
    }
}

.comman-extra-big-size-modal {
    max-width: 100% !important;
    width: 1130px;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 50%);
    border-radius: 20px;
    .mat-dialog-container {
        padding: 30px 20px !important;
        border-radius: 20px !important;
        position: relative !important;
    }
}

.cancel-order-dialog{
    max-width: 100% !important;
    width: 500px;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 50%);
    border-radius: 20px;
    .mat-dialog-container {
        padding: 0px 0px !important;
        border-radius: 20px !important;
        position: relative !important;
    }
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: rgb(245 100 0 / 24%) !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #ef6437 !important; 
}

.accordian-custom {
    margin-bottom: 50px;
    height: 400px;
    overflow: auto;
    .mat-expansion-panel-header {
        background: #F6F6F6 !important;
        height: auto !important;
        padding: 15px 22px;
    }
    .mat-expansion-panel-body {
        padding: 0 10px !important;
    }
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none !important;
}

.text-plus-img {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: right;
    letter-spacing: 0.02em;
    color: #000000;
    img{
        margin-right: 10px;
    }
}

.mat-expansion-panel {
    margin-bottom: 10px !important;
}

.form-group-new{
    .is-invalid {
      border: 1px solid #ff2e2e !important;
      color: red !important;
  }
  }

  .is-invalid {
    border: 1px solid #ff2e2e !important;
    color: red !important;
}
  