// ----Media query mixin-----------//
@mixin min-mq($min-screen-size) {
    @media (min-width: $min-screen-size +"px") {
        @content;
    }
}
@mixin max-mq($max-screen-size) {
    @media (max-width: $max-screen-size +"px") {
        @content;
    }
}
// ----------------------------For Orientation-----------------------//
@mixin landscape-orientation($max-screen-size, $orientation) {
    @media (max-width: $max-screen-size +"px") and (orientation: $orientation) {
        @content;
    }
}
@mixin btw-mq($min-screen-size, $max-screen-size, $pixel-ratio, $orientation) {
    @media only screen and (min-width: $min-screen-size +"px") and (max-width: $max-screen-size +"px") and (-webkit-min-device-pixel-ratio: $pixel-ratio) and (orientation: $orientation) {
        @content;
    }
}
//----------------------------------------------------------------//
.header-area-new{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    position: relative;
    padding-bottom: 32px;
    .left-side{
        display: flex;
        width: 100%;
        align-items: center;
        .page-heading {
            margin: 0;
            padding: 0;
        }
        .input-area {
            margin-left: 30px;
            width: 35%;
            @include max-mq(1300){
                width: 50%;
            }
            input{
                background: #FFFFFF;
                border: 1px solid #BCBCBC;
                box-sizing: border-box;
                border-radius: 50px;
                width: 100%;
                padding: 12px 30px;
                outline: none;
                font-weight: 400;
            }
        }
    }    
}


.tabs-area-new{
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #bcbcbc;
        padding-bottom: 10px;
        .nav {
            width: 60%;
            border: none;
            flex-wrap: inherit !important;
            @include max-mq(1500){
                width: 70%;
            }
            @include max-mq(1300){
                width: 80%;
            }
            .nav-item {
                display: flex;
                align-items: center;
                justify-content: center;
                background: none !important;
                border: none !important;
                padding: 10px 20px !important;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.02em;
                color: #777777 !important;
                margin-bottom: 0 !important;
                font-family: "Graphik";
                @include max-mq(1500){
                    font-size: 14px;
                }
                @include max-mq(1200){
                    font-size: 14px;
                    padding: 10px 0px !important;
                }
                span.number {
                    background: #777777;
                    border-radius: 3px;
                    margin-left: 10px;
                    width: 22px;
                    height: 22px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 12px;
                    color: #fff;
                }
            }
            .active {
                color: #000 !important;
                position: relative;
                &::before{
                    position: absolute;
                    content: "";
                    background: #F56400;
                    left: 0;
                    right: 0;
                    height: 3px;
                    bottom: -12px;
                }
                span.number{
                    background: #F56400;
                }
            }
        }
        button.filter-btn {
            text-align: center;
            letter-spacing: 0.02em;
            color: #777777;
            border: 1px solid #777777;
            border-radius: 7px;
            background: none;
            padding: 9px 23px;
            display: flex;
            align-items: center;
            column-gap: 11px;
            font-size: 16px;
            font-weight: 500;
            font-family: 'Graphik' !important;
        }
    }
}

.comman-rows-arrive-order-main{
    .comman-new-row {
        margin-bottom: 20px;
        background: #FFFFFF;
        box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);
        border-radius: 7px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img {
            border-radius: 5px;
        }
        .text {
            font-size: 16px;
            letter-spacing: 0.02em;
            color: #777777;
            font-weight: 400;
        }
        button.view-more {
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0.02em;
            color: #F56400;
            display: flex;
            align-items: center;
            column-gap: 7px;
            background: #fff;
            border: 1px solid #f56400;
            border-radius: 100px;
            padding: 8px 20px;
        }
    }
}

.ready-for-dispatch-order {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);
    border-radius: 7px;
    margin-top: 10px;
    .main-box{
        .check-box-area {
            padding: 20px;
            border-bottom: 1px solid #bcbcbc;
        }
    }
}

.completed-status {
    margin-top: 10px;
    background: rgba(38, 184, 52, 0.1);
    border: 1px solid #26B834;
    border-radius: 5px;
    padding: 8px 20px;
    display: inline-block;
    width: auto;
    span.ordernumber {
        margin-right: 14px;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.02em;
        text-decoration-line: underline;
        color: #26B834;
        cursor: pointer;
    }
    span.date-completed {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #26B834;
    }
}



// [[[[[[[[[[[[[[[[[[[[[[[[[[[]]]]]]]]]]]]]]]]]]]]]]]]]]]]]//

.tabs-div-main-area {
    border-bottom: 1px solid #BCBCBC;
    margin-bottom: 12px;
    padding-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .new-tab-line-main-area {
        display: flex;
        align-items: center;
        .new-order-tab{
            display: flex;
            align-items: center;
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 0.02em;
            color: #777777;
            position: relative;
            cursor: pointer;
            padding: 0px 30px;
            span.number {
                margin-left: 10px;
                background: #777777;
                border-radius: 3px;
                color: #fff;
                width: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 20px;
                font-size: 10px;
                line-height: normal;
            }
        }
        .active{
            color: #000;
            font-weight: 600;
            cursor: pointer;
            &:before {
                position: absolute;
                content: '';
                background: #F56400;
                height: 3px;
                left: 0;
                right: 0;
                bottom: -20px;
            }
            span.number{
                background: #F56400;
            }   
        }
    }
}

button.comman-filter {
    border: 1px solid #777777;
    box-sizing: border-box;
    border-radius: 7px;
    background: #F6F6F6;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.02em;
    color: #777777;
    img{
        margin-right: 7px;
    }
}

.comman-area-for-forms-main {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);
    border-radius: 7px;
    margin-bottom: 20px;
    .header-checkbox {
        background: #777777;
        box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);
        border-radius: 7px 7px 0px 0px;
        padding: 21px 20px;
    }
}

.content-mains-new {
    padding: 20px 20px;
    .content-boxed-main {
        display: flex;
        margin-bottom: 25px;
        .first-col-main {
            margin-right: 20px;
        }
        .second-col-main {
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 0px;
            .first-col-new {
                width: 40%;
            }
            .second-col-new {
                width: 30%;
            }
        }
        .third-col{
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }
}

.bold-heading {
    font-weight: 500;
    font-size: 15px;
    line-height: normal;
    letter-spacing: 0.02em;
    color: #000000;
    margin-bottom: 6px;
}

.value-head {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #777777;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

button.refund-btn {
    border: 2px solid #F56400;
    box-sizing: border-box;
    border-radius: 100px;
    background: none;
    cursor: pointer;
    padding: 10px 20px;
    margin-right: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #F56400;
}

button.share-btn {
    background: #F6F6F6;
    border: 1px solid #BCBCBC;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 8px 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.address-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    .left-col-main{
        display: flex;
        width: 60%;
        img {
            margin-right: 20px;
            border-radius: 5px;
            width: 100px;
        }
        .product-description-main{
            width: 80%;
            .main-above-line {
                font-weight: 500;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: 0.02em;
                color: #000000;
                margin-bottom: 10px;
            }
            .main-price-lines {
                .prices-main {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.02em;
                    color: #F56400;
                    width: 40%;
                }
                .prices-features {
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-row-gap: 10px;
                    grid-column-gap: 10px;
                    .comman-grid {
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 16px;
                        letter-spacing: 0.02em;
                        color: #777777;
                    }
                }
            }
        }
    }
}

.orang-heading {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #F56400;
    margin-bottom: 10px;
}

.address-lines-new {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #777777;
}






.heading-side-bar-main {
    display: flex;
    align-items: center;
    padding: 20px 20px;
    border-bottom: 1px solid #ccc;
    .comman-heading{
        margin-bottom: 0px;
    }
    .close-btn {
        background: none;
        border: none;
        padding: 0 !important;
        display: flex;
        align-items: center;
        margin-right: 28px;
        cursor: pointer;
    }
}

.new-filter-main {
    height: calc(100vh - 108px);
    padding: 20px 20px;
    position: relative;
    .center-div-main{
        .small-heading {
            font-weight: 600;
            font-size: 18px;
            line-height: normal;
            letter-spacing: 0.02em;
            color: #000000;
            margin-bottom: 10px;
        }
        .date-picker-row {
            width: 100%;
            margin-bottom: 20px;
            position: relative;
            &:before {
                position: absolute;
                content: '';
                // background: url('../../assets/images/View.svg')no-repeat;
                background-size: 20px 20px;
                width: 20px;
                height: 20px;
                right: 20px;
                top: 0;
                bottom: 0;
                margin: auto;
                cursor: pointer;
            }
            input.form-control {
                border-radius: 7px;
                width: 90%;
                padding: 10px 14px;
                border: 1px solid #BCBCBC;
                outline: none;
            }
        }
    }
}

.margin-bottom {
    margin-bottom: 20px;
}

.apply-and-reset-btn {
    position: absolute;
    bottom: 25px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    left: 0;
    right: 0;
    button.apply-btn {
        background: #F56400;
        border-radius: 100px;
        border: none;
        color: #fff;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.02em;
        padding: 10px 50px;
        cursor: pointer;
    }
    .Reset-btn{
        background: #BCBCBC;
        border-radius: 100px;
        border: none;
        color: #fff;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.02em;
        padding: 10px 50px;
        cursor: pointer;
    }
}