<div class="page-wrapper-main">
    <div class="header-area-new">
        <div class="left-side">
            <div class="page-heading">Order Management</div>
            <div class="input-area">
                <input type="text" placeholder="Search By reseller" />
            </div>
        </div>      
    </div>

    <!-- -------------------------Listing-tabs----------------- -->
    <div class="tabs-area-new">
        <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Arrived Order <span class="number">3</span> </a>
              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Ready For Dispatch <span class="number">3</span></a>
              <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">OnGoing <span class="number">3</span></a>
              <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">Completed </a>
            </div>
            <button class="filter-btn">
                <img src="../../../assets/images/filter.svg" alt="filter-icon"> Filter
            </button>
          </nav>
          <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
            <div class="tab-pane fade" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="comman-rows-arrive-order-main">
                    <div class="comman-new-row" *ngFor="let item of [1,2,3]">
                        <img src="../../../assets/images/bag.png">
                        <div class="inner-page-heading">Reseller Name</div>
                        <div class="text">New orders : 125</div>
                        <div class="text">Hold orders : 8</div>
                        <button class="view-more">View Now <img src="../../../assets/images/right-orange-arrow.svg" /></button>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="ready-for-dispatch-order">
                    <div class="main-box">
                        <div class="check-box-area">
                            <mat-checkbox class="example-margin">2 Ordered:  13 Jun, 2021</mat-checkbox>
                        </div>
                        <div class="content-mains-new">
                            <div class="content-boxed-main">
                                <div class="first-col-main"><mat-checkbox class="example-margin"></mat-checkbox></div>
                                <div class="second-col-main">
                                    <div class="comman-grid first-col-new">
                                      <div class="bold-heading">Shawn</div>
                                      <div class="value-head">#2083764420 <span>$307.40</span> </div>
                                    </div>
                                    <div class="comman-grid second-col-new">
                                      <div class="bold-heading">Dispatch today</div>
                                      <div class="value-head">Ordered 14 Jun, 2021</div>
                                    </div>
                                    <div class="comman-grid third-col-new">
                                      <div class="bold-heading">Standard Delivery ($9.00)</div>
                                      <!-- <div class="value-head">Cash on Delivery</div> -->
                                    </div>
                                </div>
                                <div class="third-col">
                                    <!-- <button class="refund-btn">Refund payment</button> -->
                                    <button class="share-btn"><img src="../../../assets/images/download-icon.svg" alt="Share" /></button>
                                </div>
                            </div>
                            <div class="address-box">
                              <div class="left-col-main">
                                  <img src="../../../assets/images/bag.png" alt="Product"/>
                                  <div class="product-description-main">
                                      <div class="main-above-line">2.95 CT Hidden Halo Oval Cut Moissanite Engagement Ring in Solid<br/> Gold, Weddign Anniversary Ring, Bridal Promise Ring Gift.</div>
                                      <div class="main-price-lines">
                                        <div class="prices-features">
                                            <div class="comman-grid">Quantity: 1</div>
                                            <div class="comman-grid">Ring size: 5 US</div>
                                            <div class="comman-grid">Material: 14k White Gold</div>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="right-col-main">
                                  <div class="bold-heading">Deliver to,</div>
                                  <div class="orang-heading">Shawn Sommers</div>
                                  <div class="address-lines-new">No. 403, subh square,  Laldarwaja Main <br> Rd, Patel Vadi, Patel Nagar.</div>
                              </div>
                
                            </div>
                          </div>

                    </div>


                </div>
            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                <div class="ready-for-dispatch-order">
                    <div class="main-box">
                        <div class="check-box-area">
                            <mat-checkbox class="example-margin">2 Ordered:  13 Jun, 2021</mat-checkbox>
                        </div>
                        <div class="content-mains-new">
                            <div class="content-boxed-main">
                                <div class="first-col-main"><mat-checkbox class="example-margin"></mat-checkbox></div>
                                <div class="second-col-main">
                                    <div class="comman-grid first-col-new">
                                      <div class="bold-heading">Shawn</div>
                                      <div class="value-head">#2083764420 <span>$307.40</span> </div>
                                    </div>
                                    <div class="comman-grid second-col-new">
                                      <div class="bold-heading">Dispatch today</div>
                                      <div class="value-head">Ordered 14 Jun, 2021</div>
                                    </div>
                                    <div class="comman-grid third-col-new">
                                      <div class="bold-heading">Standard Delivery ($9.00)</div>
                                      <!-- <div class="value-head">Cash on Delivery</div> -->
                                    </div>
                                </div>
                                <div class="third-col">
                                    <!-- <button class="refund-btn">Refund payment</button> -->
                                    <button class="share-btn"><img src="../../../assets/images/download-icon.svg" alt="Share" /></button>
                                </div>
                            </div>
                            <div class="address-box">
                              <div class="left-col-main">
                                  <img src="../../../assets/images/bag.png" alt="Product"/>
                                  <div class="product-description-main">
                                      <div class="main-above-line">2.95 CT Hidden Halo Oval Cut Moissanite Engagement Ring in Solid<br/> Gold, Weddign Anniversary Ring, Bridal Promise Ring Gift.</div>
                                      <div class="main-price-lines">
                                        <div class="prices-features">
                                            <div class="comman-grid">Quantity: 1</div>
                                            <div class="comman-grid">Ring size: 5 US</div>
                                            <div class="comman-grid">Material: 14k White Gold</div>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="right-col-main">
                                  <div class="bold-heading">Deliver to,</div>
                                  <div class="orang-heading">Shawn Sommers</div>
                                  <div class="address-lines-new">No. 403, subh square,  Laldarwaja Main <br> Rd, Patel Vadi, Patel Nagar.</div>
                              </div>
                
                            </div>
                          </div>

                    </div>
                </div>
            </div>
            <div class="tab-pane fade show active" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                <div class="ready-for-dispatch-order">
                    <div class="main-box">
                        <div class="check-box-area">
                            <mat-checkbox class="example-margin">2 Ordered:  13 Jun, 2021</mat-checkbox>
                        </div>
                        <div class="content-mains-new">
                            <div class="content-boxed-main">
                                <div class="first-col-main"><mat-checkbox class="example-margin"></mat-checkbox></div>
                                <div class="second-col-main">
                                    <div class="comman-grid first-col-new">
                                      <div class="bold-heading">Shawn (Guest)</div>
                                      <div class="value-head">#2083764420 <span>$307.40</span> </div>
                                    </div>
                                    <div class="comman-grid second-col-new">
                                      <div class="bold-heading">Pre-transit </div>
                                      <div class="value-head">Ordered 14 Jun, 2021</div>
                                    </div>
                                    <div class="comman-grid third-col-new">
                                      <div class="bold-heading">Standard Delivery ($9.00)</div>
                                      <!-- <div class="value-head">Cash on Delivery</div> -->
                                    </div>
                                </div>
                                <div class="third-col">
                                    <!-- <button class="refund-btn">Refund payment</button> -->
                                    <button class="share-btn"><img src="../../../assets/images/download-icon.svg" alt="Share" /></button>
                                </div>
                            </div>
                            <div class="address-box">
                              <div class="left-col-main">
                                  <img src="../../../assets/images/bag.png" alt="Product"/>
                                  <div class="product-description-main">
                                      <div class="main-above-line">2.95 CT Hidden Halo Oval Cut Moissanite Engagement Ring in Solid<br/> Gold, Weddign Anniversary Ring, Bridal Promise Ring Gift.</div>
                                      <div class="main-price-lines">
                                        <div class="prices-features">
                                            <div class="comman-grid">Quantity: 1</div>
                                            <div class="comman-grid">Ring size: 5 US</div>
                                            <div class="comman-grid">Material: 14k White Gold</div>
                                        </div>
                                        <div class="completed-status">
                                            <span class="ordernumber">5757489285983882</span>
                                            <span class="date-completed">Dispatched on 24 Jun.</span>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="right-col-main">
                                  <div class="bold-heading">Deliver to,</div>
                                  <div class="orang-heading">Shawn Sommers</div>
                                  <div class="address-lines-new">No. 403, subh square,  Laldarwaja Main <br> Rd, Patel Vadi, Patel Nagar.</div>
                              </div>
                
                            </div>
                          </div>

                    </div>


                </div>
            </div>
          </div>


    </div>    
</div>
