<div class="main-success-dialog-area text-center">
    <div class="close-btn" (click)="onNoClick()"><img src="../../../assets/images/error-1.svg" alt="close" title="close"/></div>
    <div class="text-center mt-4 mb-4 img-big"><img src="../../../assets/images/note-pen.svg" alt="success" title="img"></div>
    <div class="text-center mb-3">Your aadhar card details not fulfilled to OTM <br/>
        Terms & Conditions.</div>
    <div class="text-center mb-2">
            <button class="outline-btn">Re-Fill the form</button>
    </div>

</div>