// ----Media query mixin-----------//
@mixin min-mq($min-screen-size) {
    @media (min-width: $min-screen-size +"px") {
        @content;
    }
}
@mixin max-mq($max-screen-size) {
    @media (max-width: $max-screen-size +"px") {
        @content;
    }
}
// ----------------------------For Orientation-----------------------//
@mixin landscape-orientation($max-screen-size, $orientation) {
    @media (max-width: $max-screen-size +"px") and (orientation: $orientation) {
        @content;
    }
}
@mixin btw-mq($min-screen-size, $max-screen-size, $pixel-ratio, $orientation) {
    @media only screen and (min-width: $min-screen-size +"px") and (max-width: $max-screen-size +"px") and (-webkit-min-device-pixel-ratio: $pixel-ratio) and (orientation: $orientation) {
        @content;
    }
}
//----------------------------------------------------------------//
.header-area-new{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    position: relative;
    &::before{
        position: absolute;
        content: '';
        background: rgb(188 188 188 / 50%);
        left: -20px;
        right: -20px;
        height: 1px;
        bottom: 0;
    }
    .left-side{
        display: flex;
        width: 50%;
        align-items: center;
        .page-heading {
            margin: 0;
            padding: 0;
        }
        .input-area {
            margin-left: 30px;
            width: 60%;
            @include max-mq(1300){
                width: 100%;
            }
            input{
                background: #FFFFFF;
                border: 1px solid #BCBCBC;
                box-sizing: border-box;
                border-radius: 50px;
                width: 100%;
                padding: 12px 30px;
                outline: none;
                font-weight: 400;
            }
        }
    }
    .right-side{
        .comman-btn {
            display: flex;
            align-items: center;
            background: #F56400;
            border-radius: 100px;
            font-size: 16px;
            color: #fff;
            box-shadow: none;
            border: none !important;
            padding: 11px 30px;
            cursor: pointer;
            img{
                margin-right: 15px;
                width: 16px;
            }
        }
    }
}

.main-btns-row {
    padding: 15px 0px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    &::before{
        position: absolute;
        content: '';
        background: rgb(188 188 188 / 50%);
        left: -20px;
        right: -20px;
        height: 1px;
        bottom: 0;
    }
    .left-side-btns {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 20px;
        .checkbox-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #FFFFFF;
            border: 1px solid #BCBCBC;
            box-sizing: border-box;
            border-radius: 7px;
            padding: 4px 20px;
            padding-right: 40px;
            position: relative;
            &::before{
                position: absolute;
                content: '';
                background: url(../../../assets/images/right-side-arrow.svg)no-repeat;
                background-size: 14px 14px;
                width: 14px;
                height: 14px;
                right: 10px;
                top: 0px;
                bottom: 0;
                margin: auto;
                transform: rotate(90deg);
            }            
        }
        button.comman-btns {
            background: #F6F6F6;
            border: 1px solid #777777;
            box-sizing: border-box;
            border-radius: 7px;
            color: #777777;
        }
    }
    .right-side-btns {
        display: flex;
        align-items: center;
        column-gap: 15px;
        .comman-btn {
            background: #F6F6F6;
            border: 1px solid #777777;
            box-sizing: border-box;
            border-radius: 7px;
            padding: 9px 15px;
        }
        .grid-btn{
            background: #F56400;
            border: 1px solid #f56400;
        }
    }
}




.grid-view-and-list-view-main {
    padding: 30px 0px;
    .grid-view-main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        @include max-mq(1400){
            grid-template-columns: repeat(3, 1fr);
        }
        .comman-grids {
            background: #fff;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 10%);
            border-radius: 7px;
            .first-row {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 20px 20px;
                .custom-dropdown{
                    .btn {
                        background: none;
                        border: none;
                        text-align: right;
                        padding: 0;
                        box-shadow: none;
                        &::after{
                            display: none;
                        }
                    }
                    .dropdown-menu {
                        background: #FFFFFF;
                        box-shadow: 0px 0px 8px rgb(0 0 0 / 20%);
                        border-radius: 7px;
                        border: none;
                        li{
                            a{
                                font-size: 16px;
                                line-height: 24px;
                                display: flex;
                                align-items: center;
                                letter-spacing: 0.02em;
                                color: #000000;
                                padding: 11px 20px;
                            }
                        }
                    }
                }
            }
            .t-shirt-img {
                text-align: center;
                margin-bottom: 20px;
                background: #cacaca;
            }
            .product-des {
                padding: 20px 20px;
                padding-top: 0px;
                .price {
                    margin-bottom: 10px;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.02em;
                    color: #F56400;
                }
                .prod-feature {
                    margin-bottom: 12px;
                    letter-spacing: 0.02em;
                    color: #777777;
                    font-size: 14px;
                    line-height: normal;
                }
            }
            
        }
    }
    .list-view-commant-main{
        .comman-row-new {
            background: #fff;
            box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);
            border-radius: 7px;
            margin-bottom: 20px;
            padding: 22px 20px;
            display: flex;
            align-items: center;
            column-gap: 20px;
            position: relative;
            .second-col-img{
                img{
                    width: 85px;
                    height: 85px;
                    object-fit: cover;
                    @include max-mq(1300){
                        width: 75px;
                        height: 75px;
                    }
                }
            }
            .third-col-product-des {
                width: 80%;
                @include max-mq(1300){
                    width: 75%;
                }
                .prdouct-heading {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: normal;
                    letter-spacing: 0.02em;
                    color: #000000;
                    margin-bottom: 15px;
                    @include max-mq(1300){
                        font-size: 14px;
                    }
                }
                .grids-des-text {
                    display: flex;
                    justify-content: space-between;
                    .price {
                        color: #F56400;
                        font-size: 15px;
                        @include max-mq(1300){
                            font-size: 14px;
                        }
                    }
                    .prod-feature {
                        font-size: 14px;
                        color: #000000;
                        font-weight: 400;
                        @include max-mq(1300){
                            font-size: 13px;
                        }
                    }
                }
            }
            .fourth-col{
                position: absolute;
                right: 20px;
                .btn {
                    background: none;
                    border: none;
                    text-align: right;
                    padding: 0;
                    box-shadow: none;
                    &::after{
                        display: none;
                    }
                }
                .dropdown-menu {
                    background: #FFFFFF;
                    box-shadow: 0px 0px 8px rgb(0 0 0 / 20%);
                    border-radius: 7px;
                    border: none;
                    li{
                        a{
                            font-size: 16px;
                            line-height: 24px;
                            display: flex;
                            align-items: center;
                            letter-spacing: 0.02em;
                            color: #000000;
                            padding: 11px 20px;
                        }
                    }
                }
            }
        }
    }
}