<div class="page-wrapper-main">
    <div class="header-area-new">
        <div class="left-side">
            <div class="page-heading">Listing</div>
            <div class="input-area">
                <input type="text" placeholder="Search By title , tag or SKU" />
            </div>
        </div>
        <div class="right-side">
            <button class="comman-btn" [routerLink]="['/add-listing']"><img src="../../../assets/images/plus-sign.svg">Add a Lisitng</button>
        </div>        
    </div>
    <!-- ----new-row-main--------------- -->
    <div class="main-btns-row">
        <div class="left-side-btns">
            <div class="checkbox-btn"><mat-checkbox class="example-margin">40</mat-checkbox></div>
            <button class="comman-btns" (click)="openDialog()">Active</button>
            <button class="comman-btns">Deactive</button>
            <button class="comman-btns">Delete</button>
        </div>
        <div class="right-side-btns">
            <button class="grid-btn comman-btn"><img src="../../../assets/images/grid-view.svg" alt="grid"></button>
            <button class="comman-btn"><img src="../../../assets/images/list-view.svg" alt="grid"></button>
            <button class="comman-btn"><img src="../../../assets/images/filter-view.svg" alt="grid"> Filter</button>
        </div>
    </div>

    <!-- ----Grid-view-and-listing-view--------- -->

    <div class="grid-view-and-list-view-main">
        <!-- ----Grid-View----------- -->
        <!-- <div class="grid-view-main">
            <div class="comman-grids" *ngFor="let item of [1,2,3,4,5]">
                <div class="first-row">
                    <div class="check-box-area"><mat-checkbox>Shirt-s For Men’s</mat-checkbox></div>
                    <div class="dropdown custom-dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="../../../assets/images/three-dots.svg"></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li><a class="dropdown-item" href="#">View on OTM</a></li>
                          <li><a class="dropdown-item" href="#">Edit</a></li>
                          <li><a class="dropdown-item" href="#">Deactivate</a></li>
                          <li><a class="dropdown-item" href="#">Share</a></li>
                          <li><a class="dropdown-item" href="#">Delete</a></li>
                        </ul>
                    </div>
                </div>
                <div class="t-shirt-img">
                    <img src="../../../assets/images/t-shirt.png">
                </div>
                <div class="product-des">
                    <div class="price">$25.00</div>
                    <div class="prod-feature">Size: L, S, M, XL</div>
                    <div class="prod-feature">Color: Red, Green</div>
                    <div class="prod-feature mb-0">Date: 29 Sep, 2021</div>
                </div>

            </div>
        </div> -->

        <!-- -------------------List-view--------------- -->
        <div class="list-view-commant-main">
            <div class="comman-row-new" *ngFor="let items of [1,2,3,4]">
                <div class="first-col-checkbox"><mat-checkbox></mat-checkbox></div>
                <div class="second-col-img">
                    <img src="../../../assets/images/t-shirt.png">
                </div>
                <div class="third-col-product-des">
                    <div class="prdouct-heading">Jute Shopping Bags Hessian - Fruits & Flower Design Good Size Bag Gift / Lunch</div>
                    <div class="grids-des-text">
                        <div class="price">$25.00</div>
                        <div class="prod-feature">Size: L, S, M, XL</div>
                        <div class="prod-feature">Color: Red, Green</div>
                        <div class="prod-feature">Date: 29 Sep, 2021</div>
                    </div>
                </div>
                <div class="fourth-col">
                    <div class="dropdown custom-dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="../../../assets/images/three-dots.svg"></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li><a class="dropdown-item" href="#">View on OTM</a></li>
                          <li><a class="dropdown-item" href="#">Edit</a></li>
                          <li><a class="dropdown-item" href="#">Deactivate</a></li>
                          <li><a class="dropdown-item" href="#">Share</a></li>
                          <li><a class="dropdown-item" href="#">Delete</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>




    </div>


</div>
